<div class="orgContainer" ng-init="getAGList()">          
  <table class="table">
    <thead class="orgHeader">
        <tr><th>Product Attribute Groups</th></tr>
      <tr >
        <th class="width230px"><input type="checkbox" id="selectAll" 
                                     ng-click="selectAllAG(this)" ng-model="masterSelect"></th>
        
        <th >Attribute Name</th>
        <th class="width230px"> 
            <button  class="btn btn-sm headerBtn rightMargin30px width70px " ng-click="addAGData()">  New </button>
            <button  ng-click="prepareMultiDelete()" ng-disabled="isNoItemSelected" class="btn btn-sm btn-danger "> Delete Selected   </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="orgListRow" ng-repeat="item in agList">
        <td><input type="checkbox" ng-click="uncheckMasterSelection(this)" ng-model="item.Selected"></td>
        <td>{{item.name}}</td>
        <td>
            <a  ng-click="updateAGData(item)" class="btn btn-primary btn-sm width94px rightMargin20px"> Edit </a> 
            <a  ng-click="prepareSingleDelete(item)" class="btn btn-danger btn-sm width94px"> Delete </a>    
          </td>
      </tr>
    </tbody>
    
  </table>
  </div>

<toaster-container toaster-options="{'position-class': 'toast-bottom-right'}"></toaster-container>
<deletealert id="agDeleteAlert" title="Product Attribute Group" delete_message={{agDeleteMessage}} ></deletealert>