
<div class="row margin10px catalogBg padding5px borderRadius20px" ng-init="init()">
    <div class="col-sm-4 rightBorderWhite2px">
            <h4>Catalogs</h4>
            <button type="button" ng-click="prepareCatalogData()" data-toggle="modal"  data-target="#catalogModal"
                    class="btn btn-success btn-sm glyphicon glyphicon-plus pull-right topMarginMinus35px"></button>
                <div class="active" ng-repeat="item in catalogList">
                        <div  ng-click="getCatalogCategory(this.item._id)"
                             class="tabClass verticalCenterText bottomMargin10px" ng-class="{tabActive:$first}">
                                {{item.name}} 
                        </div>
                    
                       <div ng-click="prepareCatalogEditData(this)"  
                         class="deleteAddressBtn glyphicon glyphicon-edit btn-primary 
                                topMarginMinus38px pull-right rightMargin50px">        </div>
                
                        <div ng-click="prepareCatalogDelete(this)"  
                         class="deleteAddressBtn glyphicon glyphicon-minus btn-danger 
                                topMarginMinus38px pull-right rightMargin5px">        </div>
        
                </div>
    </div>
    
    <div class="col-sm-4 rightBorderWhite2px">
            <h4>Category</h4>
            <button type="button" ng-click="prepareCategoryData()" data-toggle="modal"  data-target="#catalogModal"
                    class="btn btn-success btn-sm glyphicon glyphicon-plus pull-right topMarginMinus35px"></button>
        
                <div class="active" ng-repeat="item in categoryList">
                        <div  ng-click="getCatalogSubCategory(this.item._id)"
                             class="tabClass verticalCenterText bottomMargin10px" ng-class="{tabActive:$first}">
                                {{item.name}} 
                        </div>
                        <div ng-click="prepareCategoryEditData(this)"  
                         class="deleteAddressBtn glyphicon glyphicon-edit btn-primary 
                                topMarginMinus38px pull-right rightMargin50px">        </div>
                    
                        <div ng-click="prepareCategoryDelete(this)"  
                         class="deleteAddressBtn glyphicon glyphicon-minus btn-danger 
                                topMarginMinus38px pull-right rightMargin5px">        </div>
                </div>
    </div>
    <div class="col-sm-4">
        <h4>SubCategory</h4>
        <button type="button" ng-click="prepareSubCategoryData()" data-toggle="modal"  data-target="#catalogModal" class="btn btn-success btn-sm glyphicon glyphicon-plus pull-right topMarginMinus35px"></button>
        <div ng-repeat="item in subCategoryList" class="borderBottomGrey1px">
            <div>{{item.name}}</div>
            <div ng-click="prepareSubCategoryEditData(this)"  
                         class="deleteAddressBtn glyphicon glyphicon-edit btn-primary 
                                topMarginMinus17px pull-right rightMargin50px">        </div>
            <div ng-click="prepareSubCategoryDelete(this)"  
                         class="deleteAddressBtn glyphicon glyphicon-minus btn-danger topMarginMinus17px
                                 pull-right rightMargin5px">        </div>
            
        </div>
    </div>
</div>

<!--  Catalog Modal -->
  <div class="modal fade" id="catalogModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content modalBg">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
              <span class="glyphicon glyphicon-remove"  aria-hidden="true"></span></button>
          <h4 class="modal-title">{{catlogModalTitle}}</h4>
        </div>
        <div class="modal-body">
          <div class="table-responsive" >          
              <table class="table ">
                <tbody>
                  <tr>
                     <td>Catalog ID :</td>
                     <td><input type="text" class="form-control"  ng-model="catlogID"  placeholder="Enter catalog id" >  </td>
                  </tr>
                  <tr>
                     <td>Name :</td>
                     <td><input type="text" class="form-control" ng-model="catlogName" placeholder="Enter catalog name"></td>
                  </tr>
                  <tr>
                     <td>Description :</td>
                     <td>
                         <textarea class="form-control" rows="3" ng-model="catlogDescription" 
                                   placeholder="Enter  catalog description"></textarea>      
                     </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn headerBtn" ng-hide="isUpdate" data-dismiss="modal"  
                  ng-click="createCatalog()">Create</button>
            
          <button type="button" class="btn headerBtn" ng-show="isUpdate" data-dismiss="modal"  
                  ng-click="editCatalog(this)">Save</button>
            
          <button type="button" class="btn headerBtn" data-dismiss="modal" >Cancel</button>
        </div>
      </div>
    </div>
  </div>


<toaster-container toaster-options="{'position-class': 'toast-bottom-right'}"></toaster-container>
<deletealert id="catalogDeleteAlert" title="Catalog" is-single-delete="isSingleDelete" delete_message={{catalogDeleteMessage}}></deletealert>
