<div class="orgContainer" ng-init="getConsumerList()">          
  <table class="table ">
    <thead class="orgHeader">
      <tr><th>Consumers</th></tr>
      <tr >
        <th class="width50px"><input type="checkbox" id="selectAll" ng-click="selectAllConsumer(this)" ng-model="masterSelect"></th>
        <th class="width120px">Last Name</th>
        <th class="width120px">First Name</th>
        <th class="width150px">Company</th>
        <th class="width100px">Phone No</th>
        <th class="width200px">Created Date</th>
        <th class="width230px">
            <button  class="btn btn-sm headerBtn rightMargin30px width70px "   ng-click="addConsumerData()">   New </button>
            <button  ng-click="prepareMultiDelete()" ng-disabled="isNoItemSelected" class="btn btn-sm btn-danger "> Delete Selected   </button>  
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="orgListRow" ng-repeat="item in consumerList">
        <td><input type="checkbox" ng-click="uncheckMasterSelection(this)" ng-model="item.Selected"></td>
        <td ng-click="updateOrganizationData(item)">{{item.lastName}}</td>
        <td>{{item.firstName}}</td>
        <td>{{item.company}}</td>
        <td>{{item.phoneNo}}</td>
        <td>{{item.createdDate}}</td>
        <td> <a   ng-click="updateConsumerData(item)" 
                class="btn btn-primary btn-sm width94px rightMargin20px"> Edit </a> 
            <a  ng-click="prepareSingleDelete(item)" class="btn btn-danger btn-sm width94px"> Delete </a>       
        </td>
      </tr>
    </tbody>
    
  </table>
  </div>

<toaster-container toaster-options="{'position-class': 'toast-bottom-right'}"></toaster-container>

<!--<appalert id="consumerAlert" title="Consumer" alert_message="{{consumerAlertMessage}}"></appalert>-->

<deletealert id="consumerDeleteAlert" title="Consumer" delete_message={{consumerDeleteMessage}} is-single-delete="isSingleDelete"></deletealert>
