<div class="row headerBg">
    <div class="col-sm-6">
        <img src="../images/logo.png" class="pull-left leftMargin20px"/>
        <div class="kartLogo">Kart</div>
    </div>
    <div class="col-sm-6">
        <button type="button" class="btn headerBtn  topMargin15px">Hi {{loginUserName}}</button>
        <button type="button" ng-click="goToHome()"class="btn headerBtn leftMargin20px topMargin15px">Home</button>
        <button type="button" ng-click="logout()" class="btn headerBtn pull-right 
                                                         topMargin15px rightMargin20px">Logout</button>
    </div>
</div>
<div class="row">

<button class="tabMenuBtn leftMarginMinus4px" popover-trigger="focus" uib-popover-template="popoverTemplate" ng-click="menuList=menuOrders.menuItem" popover-placement="bottom"  type="button"> Orders </button>


    <button class="tabMenuBtn leftMarginMinus4px" ng-click="menuList=menuMasterCatalogs.menuItem" popover-trigger="focus" uib-popover-template="popoverTemplate" popover-placement="bottom"  type="button">
         Catalogs </button>

 
    
</div>
<script type="text/ng-template" id="myPopoverTemplate.html">
        <ul  role="menu" >
          <li role="menuitem" ng-repeat="item in menuList">
              <a ng-href="/{{item[1]}}">{{item[0]}}</a>
           </li>
        </ul>
</script>


