<h4 class="productCategoryHeading">Orders export (CSV)</h4>

<div class="orgContainer topRadius0px" ng-init="init()" >
    <table class="table">
    <thead class="orgHeader">
      <tr >
          <th >File name</th>
          <th class="requiredText">{{downloadMessage}}</th>
      </tr>
    </thead>
    <tbody>
      <tr class="orgListRow" ng-repeat="item in downloadableFileName ">
        <td>{{item}}</td>
        <td>
            <button  ng-click="download(this)" class="btn headerBtn">Download</button>
        </td>
      </tr>
    </tbody>
    
  </table>
  </div>

<div class="row topMargin50px">
    <div class="col-sm-6 col-sm-offset-3" >
        <button type="button" class="btn btn-primary  width400px hzCenter"  
                ng-click="goBack()">Go Back</button>
    </div>
</div>

