<div class="orgContainer  bottomRadius0px" >
    <div class="orgHeader"> Orders List</div>
    <div class="row leftMargin15px bottomMargin10px">
        <input type="checkbox" id="selectAll" 
                                     ng-click="selectAllOrderStatus(this)" ng-model="masterSelect"> Select All
    
    </div>
    <div class="row leftMargin0px">
        <div class="col-sm-2"><input type="checkbox" ng-click="selectSingleOrderStatus(this)"  value="NEW" ng-model="stNew"> New</input></div>
        <div class="col-sm-2"><input type="checkbox" ng-click="selectSingleOrderStatus(this)" value="In Progress" ng-model="stInProgress"> In Progress</div>
        <div class="col-sm-2"><input type="checkbox" ng-click="selectSingleOrderStatus(this)" value="Canceled" ng-model="stCanceled"> Canceled</div>
        <div class="col-sm-3"><input type="checkbox" ng-click="selectSingleOrderStatus(this)" value="Cancelled and Exported" ng-model="stCanceledAndExported"> Cancelled and Exported</div>
    </div>
    <div class="row leftMargin0px">
        <div class="col-sm-2"><input type="checkbox" ng-click="selectSingleOrderStatus(this)" value="Not Deliverable" ng-model="stNotDeliverable"> Not Deliverable</div>
        <div class="col-sm-2"><input type="checkbox" ng-click="selectSingleOrderStatus(this)" value="Delivered" ng-model="stDelivered"> Delivered</div>
        <div class="col-sm-2"><input type="checkbox" ng-click="selectSingleOrderStatus(this)" value="Returned" ng-model="stReturned"> Returned</div>
        <div class="col-sm-3"><input type="checkbox" ng-click="selectSingleOrderStatus(this)" value="Pending" ng-model="stPending"> Pending</div>
    </div>
</div>

<div class="orgContainer topRadius0px" ng-init="getOrderList()">    
    <table class="table">
    <thead class="orgHeader">
      <tr >
          <th >Creation Date</th>
          <th >Order Number</th>
          <th >Customer</th>
          <th >Total</th>
          <th >Status</th>
      </tr>
    </thead>
    <tbody>
      <tr class="orgListRow" ng-repeat="item in filteredList ">
        <td>{{item.createdDate}}</td>
        <td><a ng-click="showOrderDetail(item)">{{item.orderNumber}}</a></td>
          <td>{{item.customerId}}</td>
          <td>{{item.grossPrice.currency.currencyCode}} {{item.grossPrice.amount}}</td>
          <td>{{item.status}}</td>
      </tr>
    </tbody>
    
  </table>
  </div>

<toaster-container toaster-options="{'position-class': 'toast-bottom-right'}"></toaster-container>
<deletealert id="orderDeleteAlert" title="Order" delete_message={{orderDeleteMessage}} ></deletealert>