<h4 class="productCategoryHeading">Organizations import (CSV)</h4>

<div class="topMargin15px"> <strong >Upload File:  </strong></div>
    <form name="uploadForm">
           
        <div class="row topMargin15px">
            <div class="col-sm-7">
                <input type="text" class="form-control width400px pull-left leftMargin15px height40px"      
                       placeholder="Select a file" id="txtInputFile" ></input>
                <button type="file" class="btn btn-default pull-left width100px height40px 
                                           catalogBg leftMargin15px">Browse..</button>
                <input type="file"  file-model="selectedFile" onchange="angular.element(this).scope().fileNameChanged(this)"   id="fileBrowseBtn" 
                       accept="text/csv" class=" height40px padding10px pull-left width100px inputTypeFile" >
                </input>
            </div>
            <div class="col-sm-2">
                    <button  ng-click="uploadFile(this)" class="btn btn-primary height40px">
                        Upload</button>
            </div>
                
        </div>
    </form>


<div class="orgContainer topMargin15px" >
    <table class="table">
    <thead class="orgHeader">
      <tr >
          <th >File name</th>
          <th ></th>
      </tr>
    </thead>
    <tbody>
      <tr class="orgListRow" ng-repeat="item in importFileNames ">
        <td>{{item}}</td>
        <td>
            <button  ng-click="" class="btn headerBtn" >Next</button>
        </td>
      </tr>
    </tbody>
    
  </table>
  </div>


<div class="row topMargin50px">
    <div class="col-sm-6 col-sm-offset-3" >
        <button type="button" class="btn btn-primary  width400px hzCenter"  
                ng-click="goBack()">Go Back</button>
    </div>
</div>