<h4 class="productCategoryHeading">Organizations (CSV)</h4>

<div class="row topMargin15px" >
    <div class="col-sm-7  btn btn-default catalogBg leftMargin15px txtLeft" ng-click="goOrgImport()">
        <a class=" mediumFont padding10px   width400px">
            <strong class="text-primary">Upload import files</strong>
        </a>
        <span class=" pull-right glyphicon glyphicon-chevron-right "></span>
    </div>
</div>

<div class="row topMargin15px">
    <div class="col-sm-7  btn btn-default catalogBg leftMargin15px txtLeft" ng-click="goOrgExport()">
        <a class=" mediumFont padding10px   width400px">
            <strong class="text-primary">Download export files</strong>
        </a>
        <span class=" pull-right glyphicon glyphicon-chevron-right "></span>
    </div>
</div>



