<div class="orgContainer" ng-init="getProductList()">          
  <table class="table">
    <thead class="orgHeader">
        <tr><th>Products</th></tr>
      <tr >
        <th class="width50px"><input type="checkbox" id="selectAll" 
                                     ng-click="selectAllProduct(this)" ng-model="masterSelect"></th>
        <th class="width100px">SKU</th>
        <th class="width150px">Name</th>
        <th>Short Description</th>
        <th>Manufacture Name</th>
        <th>Stock Count</th>
        <th class="width230px"> 
            <button  class="btn btn-sm headerBtn rightMargin30px width70px " button-href="product/new">  New </button>
            <button  ng-click="prepareMultiDelete()" ng-disabled="isNoItemSelected" class="btn btn-sm btn-danger "> Delete Selected   </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="orgListRow" ng-repeat="item in productList">
        <td><input type="checkbox" ng-click="uncheckMasterSelection(this)" ng-model="item.Selected"></td>
        <td>
          {{item.productId}}
        </td>
        <td>{{item.name}}</td>
        <td>{{item.shortDescr}}</td>
        <td>{{item.manufactureName}}</td>
        <td>{{item.stockCount}}</td>
        <td>
            <a  ng-click="updateProductData(item)" class="btn btn-primary btn-sm width94px rightMargin20px"> Edit </a> 
            <a  ng-click="prepareSingleDelete(item)" class="btn btn-danger btn-sm width94px"> Delete </a>    
          </td>
      </tr>
    </tbody>
    
  </table>
  </div>

<!--  Product Modal -->
  <div class="modal fade" id="productModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content modalBg">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
              <span class="glyphicon glyphicon-remove"  aria-hidden="true"></span></button>
          <h4 class="modal-title"><span ng-bind="productModalTitle"></span></h4>
        </div>
        <div class="modal-body">
          <div class="table-responsive" >          
              <table class="table ">
                <tbody>
                  <tr>
                     <td>SKU :</td>
                     <td><input type="text" class="form-control"  ng-model="productID"  placeholder="Enter product ID" >
                         <label class="requiredText" ng-hide="isProductIDAvailable"><span ng-bind="productIDErrorMessage"></span></label>
                     </td>
                  </tr>
                  <tr>
                     <td>Name :</td>
                     <td><input type="text" class="form-control" ng-model="productName" placeholder="Enter product name"></td>
                  </tr>
                  <tr>
                     <td>Short Description :</td>
                     <td>
                         <textarea class="form-control" rows="2" ng-model="shortDescription" 
                                   placeholder="Enter short description"></textarea>      
                     </td>
                  </tr>
                  <tr>
                     <td>Long Description :</td>
                     <td>
                         <textarea class="form-control" rows="5" ng-model="longDescription" 
                                   placeholder="Enter long description"></textarea>      
                     </td>
                  </tr>
                   <tr>
                     <td>Manufacture Name :</td>
                     <td><input type="text" class="form-control" ng-model="manufactureName" placeholder="Enter manufacturer name"></td>
                  </tr>
                  <tr>
                     <td>Start Date :</td>
                     <td>
                          <input class="col-md-5" type="date" class="form-control" uib-datepicker-popup ng-model="startDate" min-date="startDate" ng-required="true"
                           close-text="Close" placeholder="Set start date"/>
                      </td>
                  </tr>
                  <tr>
                     <td>End Date :</td>
                     <td>
                          <input class="col-md-5" type="date" class="form-control" uib-datepicker-popup ng-model="endDate" min-date="startDate" ng-required="true"
                           close-text="Close" placeholder="Set end date"/>
                     </td>
                  </tr>
                  <tr>
                     <td>Visible Flag :</td>
                     <td class="">
                          <span class="col-md-5"><select class="" ng-model="visibleFlag" ng-options="o.v as o.n for o in [{ n: 'Visible', v: true }, { n: 'Invisible', v: false }]">
                          </select></span>
                      </td>
                  </tr>
                  <tr>
                     <td>Stock Count :</td>
                     <td><input type="text" class="form-control" ng-model="stockCount" placeholder="Enter stock count"></td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn headerBtn" ng-hide="isUpdate" data-dismiss="modal"  
                  ng-click="addProduct()">Create</button>
          <button type="button" class="btn headerBtn" data-dismiss="modal" >Cancel</button>
        </div>
      </div>
    </div>
  </div>


<!--<appalert id="productAlert" title="Product" alert_message="{{productAlertMessage}}"></appalert>-->
<toaster-container toaster-options="{'position-class': 'toast-bottom-right'}"></toaster-container>
<deletealert id="productDeleteAlert" title="Product" delete_message={{productDeleteMessage}} is-single-delete="isSingleDelete"></deletealert>