<div class="orgContainer container" ng-init="initProductData()">
  <div class="table-responsive col-md-offset-2 col-md-9 customForm " >          
    <table class="table">
      <thead class="orgHeader">
        <tr><th>Add Product</th></tr>
      </thead>
      <tbody>
        <tr>
           <td>SKU :</td>
           <td><input type="text" class="form-control"  ng-model="productID"  placeholder="Enter product ID" >
               <label class="requiredText" ng-hide="isProductIDAvailable"><span ng-bind="productIDErrorMessage"></span></label>
                 
           </td>
        </tr>
        <tr>
           <td>Name :</td>
           <td><input type="text" class="form-control" ng-model="productName" placeholder="Enter product name"></td>
        </tr>
        <tr>
           <td>Short Description :</td>
           <td>
               <textarea class="form-control" rows="2" ng-model="shortDescription" 
                         placeholder="Enter short description"></textarea>      
           </td>
        </tr>
        <tr>
           <td>Long Description :</td>
           <td>
               <textarea class="form-control" rows="5" ng-model="longDescription" 
                         placeholder="Enter long description"></textarea>      
           </td>
        </tr>
         <tr>
           <td>Manufacture Name :</td>
           <td><input type="text" class="form-control" ng-model="manufactureName" placeholder="Enter manufacturer name"></td>
        </tr>
         <tr>
           <td>Start Date :</td>
           <td>
                <input class="col-md-5" type="date" class="form-control" uib-datepicker-popup ng-model="startDate" min-date="startDate" ng-required="true"
                 close-text="Close" placeholder="Set start date"/>
            </td>
        </tr>
        <tr>
           <td>End Date :</td>
           <td>
                <input class="col-md-5" type="date" class="form-control" uib-datepicker-popup ng-model="endDate" min-date="startDate" ng-required="true"
                 close-text="Close" placeholder="Set end date"/>
           </td>
        </tr>
        <tr>
           <td>Visible Flag :</td>
           <td>
                <select style="width:41.66666667%" ng-model="visibleFlag" ng-options="o.v as o.n for o in [{ n: 'Visible', v: true }, { n: 'Invisible', v: false }]"></select>
            </td>
        </tr>
        <tr>
           <td>Stock Count :</td>
           <td><input type="number" min="0" required class="form-control" ng-model="stockCount" placeholder="Enter stock count"></td>
        </tr>
      </tbody>
    </table>
    <table class="table">  
      <thead>
        <tr>
           <td><strong>Attributes :</strong></td>
           <!-- <td>
            <button class="btn btn-success btn-xs pull-right" type="button" title="Add new attribute" ng-click="createNewAttribute()">New <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
          </td> -->
        </tr>
      </thead>
      <tbody ng-repeat="attribute in attributes">
          <tr>
            <td></td>
            <td>
              <button class="btn btn-danger btn-xs pull-right" type="button" title="Remove"
                 ng-click="removeAttribute($index)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></button>
            </td>
          </tr>
          <tr>
            <td><span style="padding-left:36px">Name :</span></td>
            <td><input type="text" required class="form-control" ng-model="attribute.name" placeholder="Enter attribute name"></td>
          </tr>
          <tr>
            <td><span style="padding-left:36px">Value :</span></td>
            <td><input type="text" required class="form-control" ng-model="attribute.value" placeholder="Enter attribute value"></td>
          </tr>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td>
          <button class="btn btn-success btn-xs pull-right" type="button" title="Add new attribute" ng-click="createNewAttribute()">New <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
          </td>
        <tr>
      </tfoot>
    </table>
    <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-hide="isUpdate" 
                    ng-click="addProduct()">Create</button>
            <button type="button" class="btn btn-warning" button-Href="product" >Cancel</button>
    </div>
  </div>
</div>

<toaster-container toaster-options="{'position-class': 'toast-bottom-right'}"></toaster-container>