<uib-tabset type="pills" ng-init="init()">
    <uib-tab heading="Product Details">
    	<div class="tabElement container">
		  <div class="col-md-9 customForm " >          
		    <table class="table">
		      <thead class="orgHeader">
		        <tr><th>Update Product</th></tr>
		      </thead>
		      <tbody>
		        <tr>
		           <td>SKU :</td>
		           <td><label style="font-weight: normal !important" ng-bind="product.productId"></label>
		           </td>
		        </tr>
		        <tr>
		           <td>Name :</td>
		           <td><input type="text" class="form-control" ng-model="product.name" placeholder="Enter product name"></td>
		        </tr>
		        <tr>
		           <td>Short Description :</td>
		           <td>
		               <textarea class="form-control" rows="2" ng-model="product.shortDescr" 
		                         placeholder="Enter short description"></textarea>      
		           </td>
		        </tr>
		        <tr>
		           <td>Long Description :</td>
		           <td>
		               <textarea class="form-control" rows="5" ng-model="product.longDescr" 
		                         placeholder="Enter long description"></textarea>      
		           </td>
		        </tr>
		         <tr>
		           <td>Manufacture Name :</td>
		           <td><input type="text" class="form-control" ng-model="product.manufactureName" placeholder="Enter manufacturer name"></td>
		        </tr>
		         <tr>
		           <td>Start Date :</td>
		           <td>
		                <input class="col-md-5" type="date" class="form-control" uib-datepicker-popup ng-model="product.startDate" min-date="startDate" required
		                 close-text="Close"/>
		            </td>
		        </tr>
		        <tr>
		           <td>End Date :</td>
		           <td>
		                <input class="col-md-5" type="date" class="form-control" uib-datepicker-popup ng-model="product.endDate" min-date="startDate" required
		                 close-text="Close"/>
		           </td>
		        </tr>
		        <tr>
		           <td>Visible Flag :</td>
		           <td>
		                <select style="width:41.66666667%" ng-model="product.visibleFlag"  
                                ng-options="o.v as o.n for o in [
                                            { n: 'Visible', v: true }, 
                                            { n: 'Invisible', v: false }] "></select>
		            </td>
		        </tr>
		        <tr>
		           <td>Stock Count :</td>
		           <td><input type="number" min="0" required class="form-control" ng-model="product.stockCount" placeholder="Enter stock count"></td>
		        </tr>
		       </tbody>
		    </table>
		    <div class="modal-footer">
		            <button type="button" class="btn headerBtn width200px" ng-click="updateProduct()">Save</button>
		            <button type="button" class="btn btn-primary width200px" button-Href="product" >Go Back</button>
		    </div>
		  </div>
		</div>	
    </uib-tab>
    <uib-tab heading="Pricing">
    	<div class="tabElement container">
    		<div class="row">
		        <div class="col-md-9 customForm"> <!-- style="padding-right:20px; border-right: 1px solid #ccc;"--> 
		        	<table class="table text-center">
				      <thead class="orgHeader">
				        <tr><th>Pricing List</th></tr>
				        <tr>
				        	<td></td>
				        	<td>Currency</td>
				            <td>Amount</td>
				            <td>From</td>
				            <td>To</td>
				        </tr>
				      </thead>
				      <tbody>
				      <tr>
				          <td></td>
				        </tr>
				        <tr>
				           <td><label>Cost Price</label></td>
				           <td><label ng-bind="costPricing.money.currency.currencyCode"></label>
				           </td>
				           <td><input type="text" ng-model="costPricing.money.amount"/></td>
				           <td>
				                <input class="" type="date" class="form-control" uib-datepicker-popup ng-model="costPricing.pricingFromDate" min-date="costPricing.pricingFromDate" ng-required="true" close-text="Close"/>
				            </td>
				            <td>
				                <input class="" type="date" class="form-control" uib-datepicker-popup ng-model="costPricing.pricingToDate" min-date="costPricing.pricingFromDate" ng-required="true" close-text="Close"/>
				           </td>
				        </tr>
				        <tr>
				           <td></td>
				        </tr>
				        <tr>
				           <td><label>List Price</label></td>
				           <td><label ng-bind="listPricing.money.currency.currencyCode"></label>
				           </td>
				           <td><input type="text" ng-model="listPricing.money.amount"/></td>
				           <td>
				                <input class="" type="date" class="form-control" uib-datepicker-popup ng-model="listPricing.pricingFromDate" min-date="listPricing.pricingFromDate" ng-required="true" close-text="Close"/>
				            </td>
				            <td>
				                <input class="" type="date" class="form-control" uib-datepicker-popup ng-model="listPricing.pricingToDate" min-date="listPricing.pricingFromDate" ng-required="true" close-text="Close"/>
				           </td>
				        </tr>
				      </tbody>
				    </table>
				    <div class="modal-footer">
				            <button type="button" class="btn headerBtn width200px" ng-click="addPricing()">Save</button>
                            <button type="button" class="btn btn-primary width200px" button-Href="product" >Go Back</button>
				    </div> 
			  	</div>
			  	<!-- <div class="col-md-4 customForm pull-right">          
				    <table class="table">
				      <thead class="orgHeader">
				        <tr><th>Create New Pricing</th></tr>
				      </thead>
				      <tbody>
				        <tr>
				           <td>ID :</td>
				           <td><input type="text" class="form-control"  ng-model="pricing.pricingId"  placeholder="Enter pricing ID" >
				            <label class="requiredText" ng-hide="isProductIDAvailable"><span ng-bind="productIDErrorMessage"></span></label>
				           </td>
				        </tr>
				        <tr>
				           <td>Purpose :</td>
				           <td>
				           		<select style="width:100%" ng-model="pricing.pricingPurposeType">
						      		<option ng-repeat="purpose in pricingPurposeTypes" value="{{purpose}}">{{purpose}}</option>
						    	</select>
				        </tr>
				        <tr>
				           <td>Type :</td>
				           <td>
				               	<select style="width:100%" ng-model="pricing.pricingType">
						      		<option ng-repeat="type in pricingTypes" value="{{type}}">{{type}}</option>
						    	</select>     
				           </td>
				        </tr>
				        <!-- <tr>
				           <td>Locale :</td>
				           <td><input type="text" class="form-control" ng-model="pricing.money.locale" placeholder="Enter locale"></td>
				        </tr> -->
				        <!-- <tr>
				           <td>Amount :</td>
				           <td>
				           		<input type="number" class="form-control" placeholder="Enter amount" ng-model="pricing.money.amount" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required />
				           	</td>
				        </tr>
				        <tr>
				           <td>Currency :</td>
				           <td><input type="text" class="form-control" ng-model="pricing.money.currencyCode" placeholder="Enter currency code"></td>
				        </tr>
				        <tr>
				           <td>From :</td>
				           <td>
				                <input class="" type="date" class="form-control" uib-datepicker-popup ng-model="pricing.pricingFromDate" min-date="pricing.pricingFromDate" ng-required="true" close-text="Close"/>
				            </td>
				        </tr>
				        <tr>
				           <td>To :</td>
				           <td>
				                <input class="" type="date" class="form-control" uib-datepicker-popup ng-model="pricing.pricingToDate" min-date="pricing.pricingFromDate" ng-required="true" close-text="Close"/>
				           </td>
				        </tr>
				      </tbody>
				    </table>
				    <div class="modal-footer">
				            <button type="button" class="btn btn-primary" ng-click="addPricing()">Create</button>
				            <button type="button" class="btn btn-warning" button-Href="product" >Cancel</button>
				    </div>  -->
			  	</div>
		  	</div>
		</div>
    </uib-tab>
    <uib-tab heading="Categories">
    	<div class="tabElement container">
    		<div class="row">
		        <div class="col-md-8 customForm">  
		        	<table class="table">
				      <thead class="orgHeader">
				        <tr ><h4 class="productCategoryHeading">Assigned Categories</h4></tr>
				        <tr>
				        	<td>Category Name</td>
				            <td>Action</td>
				        </tr>
				       </thead>
				       <tbody>
				       		<tr ng-repeat="item in productCategories">
				       			<td>{{item.name}}</td>
				       			<td><button class="btn btn-danger btn-xs" type="button" ng-click="removeCategory(item._id)">Remove <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span></button></td>
				       		</tr>
				       </tbody>
				    </table>
				</div>    
			</div>
			<div class="row">
		        <div class="col-md-8 customForm">   
		        	<table class="table ">
				      <thead class="orgHeader">
				        
				        <tr ><h4 class="productCategoryHeading">Available Categories</h4></tr>

                          <tr>
				        	
                            <td><span class="rightMargin30px"></span>Category ID</td>
				        	<td>Name</td>
				        	<td>Description</td>
				        	<td>Action</td>
				        </tr>
				       </thead>
				       <tbody>
				       		<tr ng-repeat="item in availableCategories">
                                <td><div class=" topMargin5px pull-left circle5px rightMargin30px"></div>{{item.catalogId}}</td>
				       			<td>{{item.name}}</td>
				       			<td>{{item.description}}</td>
				       			<td><button class="btn btn-primary btn-xs" type="button" ng-click="addCategory(item._id, item.name)">Add <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button></td>
				       		</tr>
				       </tbody>
				    </table>
				</div>    
			</div>
		</div>		
    </uib-tab> 
    <uib-tab heading="Product Attributes">
    	<div class="tabElement container">
    		<div class="row">
		        <div class="col-md-8 customForm"> 
		        	<table class="table">
				      <thead class="orgHeader">
                        <tr ><h4 class="productCategoryHeading">Assigned Attributes</h4></tr>  
				      </thead>
				      <tbody ng-repeat="attribute in product.productAttributes">
				          <tr>
				            <td><span>{{attribute.name}} :</span></td>
				            <td><input type="text" required class="form-control" 
                                       ng-model="attribute.value" placeholder="Enter attribute value"></td>
				          </tr>
				       </tbody>
					   <tbody ng-repeat="attribute in unassignedAttributes">
				       		<tr>
					            <td><span>{{attribute.name}} :</span></td>
					            <td><input type="text" required class="form-control" ng-model="attribute.value" placeholder="Enter attribute value"></td>
					            
					         </tr>
				       </tbody>
				    </table>
				    <div class="modal-footer">
		           	  <button type="button" class="btn headerBtn btn-sm" 
                              ng-click="updateAttributes()">Update</button>
                      
		           	  <button class="btn headerBtn btn-sm" type="button" title="Assign group" 
                              ng-click="openAssignGroupModal()">Select Group&nbsp;&nbsp;
                          <span class="glyphicon glyphicon-list" aria-hidden="true"></span></button>
                     <button type="button" class="btn btn-primary" button-Href="product" >Go Back</button>
				    </div>
				</div>    
			</div>
		</div>		
    </uib-tab>
  </uib-tabset>

<toaster-container toaster-options="{'position-class': 'toast-bottom-right'}"></toaster-container>