<div class="header-bottom"><!--header-bottom-->
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="mainmenu pull-left">
                    <ul class="nav navbar-nav collapse navbar-collapse">
                        <li class="dropdown" ng-repeat="catalogItem in menuItems">
                            <a href="#">
                                {{catalogItem.name}}
                                <i class="fa fa-angle-down">
                                </i>
                            </a>
                            <ul role="menu" class="sub-menu" ng-show="catalogItem.subMenuItems.length>0">
                                <li ng-repeat="subCatalogItem in catalogItem.subMenuItems">
                                    <a href="" ng-click="categorySearch(subCatalogItem._id)">{{subCatalogItem.name}}</a>
                                    <ul role="menu" class="subsub" ng-repeat="subsubCatalogItem in subsubMenuItems" >

                                        <li ng-if="subCatalogItem._id ==subsubCatalogItem.parentCatalogId">
                                            <a href="" ng-click="categorySearch(subsubCatalogItem._id)">{{subsubCatalogItem.name}}</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div><!--/header-bottom-->