<div class="row">
    <div class="single-product">
        <div class="product-f-image">
            <img src="../images/{{product.productId}}.jpeg" class="img-thumbnail">
            <div class="product-hover">
                <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                <a href="/product/{{product._id}}" class="view-details-link"><i class="fa fa-link"></i> See details</a>
            </div>
        </div>

        <h2><a href="/product/{{product._id}}">{{product.name}}</a></h2>

        <div class="product-carousel-price">
            <ins>{{product.pricingList[0].money.amount}} {{product.pricingList[0].money.currency.currencyCode}}</ins>
            <span style="float: right"><label >Stocks : </label>{{product.stockCount}}</span>
            <h6>{{product.shortDescr}}</h6>
            <label style="float: left">manufacturer : {{product.manufactureName}}</label>
        </div>
    </div>
</div>