<div ng-init="init()">
    <div class="container-fluid" style="border: 1px solid orangered;">
        <div class="row">
            <div class="col-md-5">
                <ul>
                    <li>
                        <h3>Order Details</h3>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5" style="padding-right:20px;">
                <ul>
                    <li>
                        <label>Product Name :</label> {{order.linetems[0].productName}}
                    </li>
                    <li>
                        <label>Order No :</label> {{order.orderNumber}}
                    </li>
                    <li>
                        <label>Net Price :</label> Rs {{order.netPrice.amount}}
                    </li>
                    <li>
                        <label>Tax :</label> Rs {{order.tax.amount}}
                    </li>
                    <li>
                        <label>Gross Price :</label> Rs {{order.grossPrice.amount}}
                    </li>
                    <li>
                        <label>Status :</label> {{order.status}}
                    </li>
                </ul>
            </div>
            <div class="col-md-5">
                <ul>
                    <li>
                        <label>Address</label>
                    </li>
                    <li>
                        {{order.billingAddress.street1}}, {{order.billingAddress.street2}}
                    </li>
                    <li>
                        {{order.billingAddress.city}}, {{order.billingAddress.state}}
                    </li>
                    <li>
                        {{order.billingAddress.country}}
                    </li>
                    <li>
                        {{order.billingAddress.zipcode}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
