<div ng-controller="updateProductCtrl">     
    <div class="modal-header dialog-header-wait">
        <h4 class="modal-title"><span>Assign Group</span></h4>
    </div>
    <div class="modal-body">
           <div class="row">
            <div class="col-md-6">
                <label for="assignGroup">Select Group : </label>
            </div>
            <div class="col-md-6 pull-right">
                <select style="width:100%" ng-model="unassignedAttributes" 
                        ng-change="selectAttributeGroup(unassignedAttributes)">
                    <option ng-repeat="group in attributeGroups" value="{{group.attributes}}">{{group.name}}</option>
                </select>
            </div>
            </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn headerBtn" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>