@media screen and (min-width:769px) {
    
    
    body {
        font-family: 'Helvetica Neue';
    }
    
    .kartLogo {
        margin-left: -12px !important;
        font-size: 25px;
        font-weight: bold;
        margin-top: 17px;
        float: left;
    }
    .lightGreyBg{background-color: $lightGrey;}
    .headerBg {
        background-color: $skyBlue;
    }
    .headerBtn {
        background-color: $darkGrey;
        color: $white;
        border: 2px;
    }
    .headerBtn:hover{
        color:$white;
    }
    
    .tabMainMenuContainer{
        //display: block !important;
    }

    .tabMenuBtn {
        width: 25%;
        height: 70px;
        display: table-cell;
        vertical-align: middle; //for vertical align
        border-collapse: collapse;
        border: 1px solid white;
        padding: 0 5px;
        color: $white;
        font-weight: bold;
    }
    .tabMenuBtn:hover {
        font-size: 17px;
        color: $white;
    }
    button.tabMenuBtn,
    button.headerBtn:active { outline: none;  color: $white; }
    
    button.tabMenuBtn,
    button.headerBtn:focus {  outline:0; color: $white;  }
    
    
    
    .mainMenuBtn {
        background: $menuBtnColor;
        display: inline-block;
        height: 80px;
        margin-left: 20px;
        position: relative;
        width: 250px;
        color: $white;
        margin-top: 50px;
    }
    .selectedMenuBtn {
        background: $darkGrey !important;
    }
    a.mainMenuBtn:hover {
        text-decoration: none;
        font-size: 17px;
        color: $white;
    }
    .mainMenuBtnText {
        width: 250px;
        text-align: center;
        padding-top: 29px;
        font-weight: bold;
        padding-left: 5px;
    }
    .rightTriangle {
        width: 0;
        height: 0;
        border-top: 40px solid transparent;
        border-bottom: 40px solid transparent;
        border-left: 40px solid $menuBtnColor;
        margin-left: 250px;
        position: absolute;
    }
}