//.custom-tab-content {
//	    padding-top: 15px;
//}
//
//.custom-tab-pane {
//	background : #D2D6D6;
//	border:2px solid #D2D6D6;
//    border-radius: 20px;
//}

.customForm > table > thead > tr > th {
    border-top: none !important;
    border-bottom: none !important;  
}

.customForm > table > tbody > tr > td {
    border-top: none !important; 
}

//.tabElement{
//	padding: 20px;
//}
.productCategoryHeading
{
    background-color: #eeeeee;
    margin-bottom: -1px;
    padding: 10px;
}

