<!DOCTYPE html>
<html>
    <head>
        <title>PayuMoney Form submit test Page</title>
        <meta charset="UTF-8"/>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
        <script type="text/javascript" src="/script.js"></script>

         <style>
           label
           {
             display: inline-block;
             width: 120px;
             vertical-align: middle;
           }

           input
           {
             display: inline-block;
             vertical-align: middle;
           }

           input.ng-invalid
           {
             border: solid red 2px;
           }

           textarea
           {
             width: 300px;
             height: 80px;
           }
         </style>
    </head>
    <body ng-app="mainModule">
        <div ng-controller="mainController">
        <h3>PayuMoney Form Submit Page (Test) </h3>

        <form name="paymentForm" novalidate>
            <label for="firstName">First name:</label>
            <input id="firstName" type="text" name="firstName" ng-model="payment.data.firstname" required /><br />
            <label for="amount">Amount:</label>
            <input id="amount" type="text" name="amount" ng-model="payment.data.amount" required /><br />
            <label for="email">Email:</label>
            <input id="email" type="text" name="email" ng-model="payment.data.email" required /><br />
            <label for="phone">Phone:</label>
            <input id="phone" type="text" name="phone" ng-model="payment.data.phone" required /><br />
            <label for="productinfo">Product Info:</label>
            <input id="productinfo" type="text" name="productinfo" ng-model="payment.data.productInfo" required /><br />
            <br />
            <button type="submit"
                    ng-click="submitData(payment, 'ajaxSubmitResult')"
                    ng-disabled="paymentForm.$invalid">Submit</button>
          </form>

          <strong><label for="submitDebugText">Submit result:</label></strong><br />
          <textarea id="submitDebugText">{{ajaxSubmitResult | json}}</textarea>
          </div>
    </body>
</html>