<h4 class="topMargin15px">Product Attribute Group: </h4>
<div class="row topMargin50px" ng-init="getAttributeGroup()">
    <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-5">Attribute Group Name :</div>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" ng-model="currentAG.name" ng-change="fieldChanged()" 
                               placeholder="Enter attribute group name">
                        <label class="requiredText" ng-hide="isAGNameValid">{{agNameErrorMessage}} </label>
                    </div>
                </div>
        <div class="   width400px  topMargin15px ">
            <div class="table-responsive">
                <table class="table modalBg borderRadius10px padding10px">
                    <tbody>
                        <tr ng-click="updateAttribute(this)" class="addressHighlight" ng-repeat="attr in currentAG.attributes">
                            <td class="borderTopWhite">
                                <a>{{attr}}</a>
                                <div ng-click="prepareDeleteAttribute(this)" 
                                     class="deleteAddressBtn glyphicon glyphicon-minus btn-danger pull-right"></div>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <button type="button" class="btn headerBtn width200px hzCenter" ng-click="addNewAttribute()">Add new attribute</button>
        <div ng-show="showAttributeSection">
            <div class="row topMargin15px">
                <div class="col-sm-4">Attribute Name :</div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" ng-change="fieldChanged()" ng-model="newAttributeName" 
                           placeholder="Enter attribute name">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row topMargin50px">
    <div class="col-sm-6"> 
        <button type="button" class="btn headerBtn width200px hzCenter"  
                ng-click="updateAG()">  Save</button>
        <button type="button" class="btn btn-primary  width200px hzCenter"  
                ng-click="goBack()">Go Back</button>
    </div>
</div>
<toaster-container toaster-options="{'position-class': 'toast-bottom-right'}"></toaster-container>
<deletealert id="agDeleteAlert" title="Product Attribute Group" delete_message={{agDeleteMessage}} ></deletealert>