<h4 class="topMargin50px">Add New Attribute Group </h4>
<div class="row topMargin15px">
    <div class="col-sm-1"></div>
    <div class="col-sm-2">Name :</div>
    <div class="col-sm-3">
        <input type="text" class="form-control" ng-model="agName" placeholder="Enter attribute group name">
        <label class="requiredText" ng-hide="isAGNameValid">{{agNameErrorMessage}} </label>
    </div>
</div>


<div class="row topMargin50px">
    <div class="col-sm-3">
    <button type="button" class="btn headerBtn width180px hzCenter"  
                ng-click="addAttributeGroup()">Create</button>
    </div>
    <div class="col-sm-3">
        <button type="button" class="btn btn-primary  width180px hzCenter"  
                ng-click="goBack()"> Go Back</button>
    </div>
</div>


<toaster-container toaster-options="{'position-class': 'toast-bottom-right'}"></toaster-container>