
<uib-tabset ng-init="init()">
    <uib-tab heading="General">
        
                <h4 class="topMargin50px">Consumer Profile: </h4>
                <div class="row topMargin15px">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2">First Name :</div>
                    <div class="col-sm-3"><input type="text" class="form-control"  
                                                 ng-model="currentConsumer.firstName" ng-change ="fieldChanged()" 
                                            placeholder="Enter first name" >
                        <label class="requiredText" ng-hide="isFirstNameValid">{{firstNameErrorMessage}} </label>
                    </div>
                </div>
                <div class="row topMargin15px">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2">Last Name :</div>
                    <div class="col-sm-3"><input type="text" class="form-control" ng-change ="fieldChanged()" 
                                                 ng-model="currentConsumer.lastName" 
                                        placeholder="Enter last name">
                    </div>
                </div>
                <div class="row topMargin15px">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2">Phone No :</div>
                    <div class="col-sm-3"><input type="text" class="form-control" 
                                                 ng-model="currentConsumer.phoneNo" ng-change ="fieldChanged()"
                                        placeholder="Enter phone no">
                                <label class="requiredText" ng-hide="isPhoneValid">{{phoneErrorMessage}} </label>   
                    </div>
                </div>
                <div class="row topMargin15px">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2">Company :</div>
                    <div class="col-sm-3"><input type="text" class="form-control" 
                                                 ng-model="currentConsumer.company" ng-change ="fieldChanged()"
                                        placeholder="Enter company name">
                    </div>
                </div>
                <h4  class="topMargin50px">Consumer Credential: </h4>
                <div class="row topMargin15px">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2">Login ID :</div>
                    <div class="col-sm-3"><input type="text" class="form-control" 
                                                 ng-model="currentConsumer.userCredentials.userName" ng-change ="fieldChanged()"
                                   placeholder="Enter consumer id">
                    </div>
                </div>
                <div class="row topMargin15px">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2">Password :</div>
                    <div class="col-sm-3">
                        <input type="password" class="form-control" ng-model="currentConsumer.userCredentials.password" ng-change ="fieldChanged()"
                                   placeholder="Enter password">
                    </div>
                </div>
                <div class="row topMargin15px">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-2">Confirm Password :</div>
                            <div class="col-sm-3">
                                <input type="password" class="form-control" 
                                       ng-model="currentConsumer.userCredentials.repassword" ng-change ="fieldChanged()"
                                           placeholder="Re-enter password">
                            </div>
                </div>
       
    </uib-tab>
    <uib-tab heading="Address">
        <div class="row topMargin50px">
            <div class="col-sm-6">
            <h4 >Shipping Address: </h4>
            <div class="   width400px leftMargin20px topMargin15px ">                
                <div class="table-responsive" >          
                  <table class="table modalBg borderRadius10px padding10px">
                    <tbody>
                      <tr ng-click="updateAddress(this)" class="addressHighlight" 
                          ng-repeat="addr in currentConsumer.shippingAddress">   
                          <td class="borderTopWhite">
                              <a>{{addr.addressName}},{{addr.city}},{{addr.state}}-{{addr.zipCode}}</a>
                              
                              <div ng-click="prepareDeleteAddress(this)" class="deleteAddressBtn glyphicon glyphicon-minus btn-danger pull-right"></div>
                          </td> 
                          
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
            <div class="col-sm-6">
            <button type="button" class="btn headerBtn width200px hzCenter"  
                    ng-click="addNewAddress()">Add New</button>
            <div ng-show="showAddressSection">
                <div class="row topMargin15px">
                    <div class="col-sm-2">Address :</div>
                    <div class="col-sm-5">
                        <textarea class="form-control" rows="3" ng-change ="fieldChanged()"
                                  ng-model="newAddress.consumerAddress" 
                                  placeholder="Enter complete address">       
                        </textarea>
                    </div>
                </div>
                <div class="row topMargin15px">
                    <div class="col-sm-2">City :</div>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" ng-change ="fieldChanged()"
                               ng-model="newAddress.consumerCityName" 
                               placeholder="Enter city name">
                    </div>
                </div>
                <div class="row topMargin15px">
                    <div class="col-sm-2">State :</div>
                    <div class="col-sm-5">
                        <input type="text" class="form-control"  ng-change ="fieldChanged()"
                               ng-model="newAddress.consumerState" 
                               placeholder="Enter state">
                    </div>
                </div>
                <div class="row topMargin15px">
                    <div class="col-sm-2">Zip Code :</div>
                    <div class="col-sm-5">
                        <input type="text" class="form-control"  ng-change ="fieldChanged()"
                               ng-model="newAddress.zipCode" 
                               placeholder="Enter Zip Code">
                    </div>
                </div>
            </div>
        </div>
        </div>
    </uib-tab>
</uib-tabset>
<div class="row topMargin50px">
    <div class="col-sm-6"> 
        <button type="button" class="btn headerBtn width200px hzCenter"  
                ng-click="updateConsumer()">  Save</button>
        <button type="button" class="btn btn-primary  width200px hzCenter"  
                ng-click="goBack()">Go Back</button>
    </div>
</div>
<toaster-container toaster-options="{'position-class': 'toast-bottom-right'}"></toaster-container>

<deletealert id="consumerDeleteAlert" title="Consumer" delete-message={{consumerDeleteMessage}} is-single-delete="isSingleDelete"></deletealert>
                                 
