<h4 class="topMargin50px">Add New Consumer </h4>

<div class="row topMargin15px">
    <div class="col-sm-1"></div>
    <div class="col-sm-2">First Name :</div>
    <div class="col-sm-3">
        <input type="text" class="form-control" ng-model="currentItem.firstName" placeholder="Enter first name">
        <label class="requiredText" ng-hide="isFirstNameValid">{{firstNameErrorMessage}} </label>
    </div>
</div>
<div class="row topMargin15px">
    <div class="col-sm-1"></div>
    <div class="col-sm-2">Last Name :</div>
    <div class="col-sm-3">
        <input type="text" class="form-control" ng-model="currentItem.lastName" placeholder="Enter last name">
    </div>
</div>
<div class="row topMargin15px">
    <div class="col-sm-1"></div>
    <div class="col-sm-2">Phone No :</div>
    <div class="col-sm-3">
        <input type="text" class="form-control" ng-model="currentItem.phone" placeholder="Enter phone no">
        <label class="requiredText" ng-hide="isPhoneValid">{{phoneErrorMessage}} </label>
    </div>
</div>
<div class="row topMargin15px">
    <div class="col-sm-1"></div>
    <div class="col-sm-2">Company :</div>
    <div class="col-sm-3">
        <input type="text" class="form-control" ng-model="currentItem.company" placeholder="Enter company name">
    </div>
</div>


<div class="row topMargin50px">
    
    <div class="col-sm-3">
        <button type="button" class="btn headerBtn width180px bottomMargin10px hzCenter"  ng-click="addConsumer()">Create</button></div>
    <div class="col-sm-3">
        <button type="button" ng-click="goBack()" class="btn btn-primary  
        width180px hzCenter bottomMargin10px" data-dismiss="modal">Go Back</button>
    </div>
</div>


<toaster-container toaster-options="{'position-class': 'toast-bottom-right'}"></toaster-container>







          