<div class="modal fade"  role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content headerBg">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
          <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body"> {{deleteMessage}}     </div>
        <div class="modal-footer">
          <button type="button" class="btn headerBtn btn-danger"  data-dismiss="modal" ng-click="delete()">delete</button>
<!--          <button type="button" class="btn headerBtn btn-danger" ng-hide="isSingleDelete" data-dismiss="modal" ng-click="deleteMulti()">delete</button>-->
          <button type="button" class="btn headerBtn " data-dismiss="modal" >Cancel</button>
        </div>
      </div>
    </div>
  </div>