
<!--Container template-->
<div class="row menuContainer" > 
    <div class="col-sm-4" ng-repeat="item in menuList">
        <a class="mainMenuBtn" ng-href="/{{item[1]}}"> <span class="mainMenuBtnText pull-left">{{item[0]}}</span>
            <div class="rightTriangle"></div> 
        </a>
    </div>
</div>




