<div>
    
    <form class="loginBg " ng-submit="login()">
        <img src="../images/logo.png"></img>
        <div class="row">
            <div class="col-sm-5"> Name : </div>
            <div class="col-sm-7">
                <input type="text" class="form-control" ng-model="userName" placeholder="Enter user name">
            </div>

        </div>
        <div class="row topMargin15px">
            <div class="col-sm-5"> Password : </div>
            <div class="col-sm-7">
                <input type="password" class="form-control" ng-model="password" placeholder="Enter password">
            </div>

        </div>
        <div class="row">
            <div class="col-sm-9"> </div>
            <div class="col-sm-3">
                <button type="submit" class="btn headerBtn topMargin15px width65px"  
                        >Login</button>
            </div>

        </div>

    </form>
</div>
<toaster-container toaster-options="{'position-class': 'toast-bottom-right'}"></toaster-container>
