<h4 class="productCategoryHeading">Mass Data Task Dump/Restore (CSV)</h4>

<div class="row topMargin15px " >
    <div class="col-sm-7  btn btn-default catalogBg leftMargin15px txtLeft" ng-click="restoreDump()">
        <a class=" mediumFont padding10px   width400px">
            <strong class="text-primary">Restore Dump/Import</strong>
        </a>
        <span class=" pull-right glyphicon glyphicon-chevron-right "></span>
    </div>
</div>

<div class="row topMargin15px">
    <div class="col-sm-7  btn btn-default catalogBg leftMargin15px txtLeft" ng-click="createDump()">
        <a class=" mediumFont padding10px   width400px">
            <strong class="text-primary">Create Dump/Export </strong>
        </a>
        <span class=" pull-right glyphicon glyphicon-chevron-right "></span>
    </div>
</div>



<toaster-container toaster-options="{'position-class': 'toast-bottom-right'}"></toaster-container>
