<h4 >Order Overview: </h4>
<uib-tabset ng-init="getOrderDetail()">
    <uib-tab heading="General">
        <div class="productCategoryHeading"><strong>Order -  {{currentOrder.orderNumber}}</strong> </div>
                <div class="row topMargin15px leftMargin15px rightMargin15px">
                    <div class="col-sm-3"><label >Date Received :</label></div>
                    <div class="col-sm-4">      {{currentOrder.createdDate}} </div>
                </div>
                <div class="row topMargin15px leftMargin15px rightMargin15px">
                    <div class="col-sm-3"><label >Status :</label></div>
                    <div class="col-sm-4">      {{currentOrder.status}} </div>
                </div>
                <div class="row topMargin15px leftMargin15px rightMargin15px">
                    <div class="col-sm-3"><label >Customer:</label></div>
                    <div class="col-sm-4">    {{currentOrder.paymentInformation.payment.firstname}}    </div>
                </div>
                <div class="row topMargin15px leftMargin15px rightMargin15px">
                    <div class="col-sm-3"><label >Phone:</label></div>
                    <div class="col-sm-4">    {{currentOrder.paymentInformation.payment.phone}}    </div>
                </div>
                <div class="row topMargin15px leftMargin15px rightMargin15px">
                    <div class="col-sm-3"><label >Email:</label></div>
                    <div class="col-sm-4">    {{currentOrder.paymentInformation.payment.email}}    </div>
                </div>
                <div class="row topMargin15px leftMargin15px rightMargin15px">
                    <div class="col-sm-3"><label >Product :</label></div>
                    <div class="col-sm-4">
                        {{currentOrder.linetems[0].productName}} </div>
                </div>
                <div class="row topMargin15px leftMargin15px rightMargin15px">
                    <div class="col-sm-3"><label >Billing Address :</label></div>
                    <div class="col-sm-4">
                        {{currentOrder.billingAddress.addressName}},{{currentOrder.billingAddress.street1}},
                        {{currentOrder.billingAddress.street2}},{{currentOrder.billingAddress.city}},
                        {{currentOrder.billingAddress.state}},{{currentOrder.billingAddress.country}},
                        {{currentOrder.billingAddress.zipCode}}
                    </div>
                </div>
                 <div class="row topMargin15px leftMargin15px rightMargin15px">
                    <div class="col-sm-3"><label >Net Price :</label></div>
                    <div class="col-sm-4">
                        {{currentOrder.netPrice.currency.currencyCode}} {{currentOrder.netPrice.amount}}      </div>
                </div>
                <div class="row topMargin15px leftMargin15px rightMargin15px">
                    <div class="col-sm-3"><label >Tax :</label></div>
                    <div class="col-sm-4">
                        {{currentOrder.tax.currency.currencyCode}} {{currentOrder.tax.amount}}       </div>
                </div>
                <div class="row topMargin15px   productCategoryHeading leftMargin0px rightMargin15px">
                    <div class="col-sm-3"><label >Total :</label></div>
                    <div class="col-sm-4">
                        <label >{{currentOrder.grossPrice.currency.currencyCode}} {{currentOrder.grossPrice.amount}}</label>       </div>
                </div>
            
    </uib-tab>
    <uib-tab heading="Payment">
        <div class="productCategoryHeading"><strong>Order -  {{currentOrder.orderNumber}}</strong> </div>
        <div class="orgContainer topRadius0px" ng-init="getOrderList()">    
                <table class="table">
                <thead class="orgHeader">
                  <tr >
                      <th >Type</th>
                      <th >Trnsaction ID</th>
                      <th >Amount</th>
                      <th >Status</th>
                      <th >Last Status Change</th>
                      <th >Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="orgListRow" >
                    <td>{{currentOrder.paymentInformation.paymentType}}</td>
                    <td>{{currentOrder.orderNumber}}</td>
                      <td>{{currentOrder.grossPrice.currency.currencyCode}} {{currentOrder.paymentInformation.payment.amount}}</td>
                      <td>{{currentOrder.status}}</td>
                      <td>{{currentOrder.createdDate}}</td>
                      <td>{{currentOrder.paymentInformation.payment.productInfo}}</td>
                  </tr>
                </tbody>

               </table>
        </div>
    </uib-tab>
</uib-tabset>
<div class="row topMargin15px">
    <div class="col-sm-6"> 
        <button type="button" class="btn btn-primary  width200px hzCenter"  
                ng-click="goBack()">Go Back</button>
    </div>
</div>
