                <h4 class="topMargin50px">Add New Organization </h4>
                <div class="row topMargin15px">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2">Organization ID :</div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control"  ng-model="orgID"  
                                            placeholder="Enter organization ID" >
                    <label class="requiredText" ng-hide="isOrgIDAvailable">{{orgIDErrorMessage}} </label>    
                    </div>
                </div>
                <div class="row topMargin15px">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2">Name :</div>
                    <div class="col-sm-3"><input type="text" class="form-control" ng-model="orgName" 
                                        placeholder="Enter organization name">
                    </div>
                </div>
                <div class="row topMargin15px">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2">Description :</div>
                    <div class="col-sm-3"><input type="text" class="form-control" ng-model="orgDescription" 
                                        placeholder="Enter organization description">
                                
                    </div>
                </div>

<div class="row topMargin50px">
    
    <div class="col-sm-3">
    <button type="button" class="btn headerBtn width180px hzCenter"  
                ng-click="addOrganization()">Create</button>
    </div>
    <div class="col-sm-3">
        <button type="button" class="btn btn-primary  
        width180px hzCenter"  
                ng-click="goBack()"> Go Back</button>
    </div>
</div>


<toaster-container toaster-options="{'position-class': 'toast-bottom-right'}"></toaster-container>