<div class="orgContainer" ng-init="getOrganizationList()">          
  <table class="table ">
    <thead class="orgHeader">
        <tr><th>Organizations</th></tr>
      <tr >
        <th class="width50px"><input type="checkbox" id="selectAll" 
                                     ng-click="selectAllOrganization(this)" ng-model="masterSelect"></th>
        <th class="width200px">Organization ID</th>
        <th class="width200px">Name</th>
        <th>Description </th>
        <th class="width300px">
                <button  class="btn btn-sm headerBtn rightMargin30px width70px "
                        ng-click="addOrganizationData()">   New </button>
            
            <button  ng-disabled="isNoItemSelected" ng-click="prepareMultiDelete()" class="btn btn-sm btn-danger "> 
                Delete Selected   </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="orgListRow" ng-repeat="item in organizationList">
        <td><input type="checkbox" ng-click="uncheckMasterSelection(this)" ng-model="item.Selected"></td>
        <td >{{item.organizationId}}</td>
        <td>{{item.organizationName}}</td>
        <td>{{item.description}}</td>
        <td>
            <a
               ng-click="updateOrganizationData(item)" class="btn btn-primary btn-sm                                rightMargin20px width94px"> Edit </a> 
            <a  ng-click="prepareSingleDelete(item)" class="btn btn-danger btn-sm  
                                                            width94px"> Delete </a>    
          </td>
      </tr>
    </tbody>
    
  </table>
  </div>


<toaster-container toaster-options="{'position-class': 'toast-bottom-right'}"></toaster-container>
<deletealert id="orgDeleteAlert" title="Organization" delete-message={{orgDeleteMessage}} ></deletealert>