<div class="orgContainer" ng-init="getPricingList()">          
  <table class="table ">
    <thead class="orgHeader">
        <tr><th>Pricings</th></tr>
      <tr >
        <th class="width50px"><input type="checkbox" id="selectAll" 
                                     ng-click="selectAllPricing(this)" ng-model="masterSelect"></th>
        <th class="width150px">Pricing ID</th>
        <th class="width150px">Purpose</th>
        <th class="width150px">Type </th>
        <th class="width150px">Price </th>
        <th class="width150px">From Date </th>
        <th class="width150px">To Date </th>
        <th class="width300px">
                <button  class="btn btn-sm headerBtn rightMargin30px width70px "
                        button-href="pricing/new">   New </button>
            
            <button  ng-disabled="isNoItemSelected" ng-click="prepareMultiDelete()" class="btn btn-sm btn-danger "> 
                Delete Selected   </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="orgListRow" ng-repeat="item in pricingList">
        <td><input type="checkbox" ng-click="uncheckMasterSelection(this)" ng-model="item.Selected"></td>
        <td >{{item.pricingId}}</td>
        <td>{{item.pricingPurposeType}}</td>
        <td>{{item.pricingType}}</td>
        <td>{{item.money.currency.currencyCode}} {{item.money.amount}}</td>
        <td>{{item.pricingFromDate | date:'dd-MM-yyyy'}}</td>
        <td>{{item.pricingToDate | date:'dd-MM-yyyy'}}</td>
        <td>
            <a
               ng-click="updatePricingData(item)" class="btn btn-primary btn-sm                                rightMargin20px width94px"> Edit </a> 
            <a  ng-click="prepareSingleDelete(item)" class="btn btn-danger btn-sm  
                                                            width94px"> Delete </a>    
          </td>
      </tr>
    </tbody>
    
  </table>
  </div>


<toaster-container toaster-options="{'position-class': 'toast-bottom-right'}"></toaster-container>
<deletealert id="pricingDeleteAlert" title="Pricing" delete-message={{pricingDeleteMessage}} ></deletealert>