                <h4 class="topMargin50px">Add New Pricing </h4>
                <div class="row topMargin15px">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2">Pricing ID :</div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control"  ng-model="newPricing.pricingId"  
                                            placeholder="Enter pricing ID" >
                    <label class="requiredText" ng-hide="isPricingIDAvailable">{{pricingIDErrorMessage}} </label>    
                    </div>
                </div>
                <div class="row topMargin15px">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2">Purpose :</div>
                    <div class="col-sm-3">
<!--                        <input type="text" class="form-control" ng-model="newPricing.pricingPurposeType"
                                        placeholder="Enter pricing purpose"> -->
                        <div class="btn-group" uib-dropdown is-open="status.isOpenPurpose">
            <button id="purpose-button" type="button" class="btn btn-default" 
                    uib-dropdown-toggle ng-disabled="disabled">
                {{newPricing.pricingPurposeType}} <span class="caret"></span>
            </button>
            <ul class="uib-dropdown-menu" role="menu" aria-labelledby="purpose-button">
                <li role="menuitem"><a ng-click="newPricing.pricingPurposeType='PURCHASE'">PURCHASE</a></li>
                <li role="menuitem"><a ng-click="newPricing.pricingPurposeType='RECURRING_CHARGE'">RECURRING_CHARGE</a></li>
                <li role="menuitem"><a ng-click="newPricing.pricingPurposeType='USAGE_CHARGE'">USAGE_CHARGE</a></li>
                <li role="menuitem"><a ng-click="newPricing.pricingPurposeType='COMPONENT_PRICE'">COMPONENT_PRICE</a></li>
            </ul>
        </div>
                    </div>
                </div>
                <div class="row topMargin15px">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2">Pricing type :</div>
                    <div class="col-sm-3">
        <div class="btn-group" uib-dropdown is-open="status.isOpenPricing">
            <button id="pricing-button" type="button" class="btn btn-default" 
                    uib-dropdown-toggle ng-disabled="disabled">
                {{newPricing.pricingType}} <span class="caret"></span>
            </button>
            <ul class="uib-dropdown-menu" role="menu" aria-labelledby="pricing-button">
                <li role="menuitem"><a ng-click="newPricing.pricingType='DEFAULT_PRICE'">DEFAULT_PRICE</a></li>
                <li role="menuitem"><a ng-click="newPricing.pricingType='LIST_PRICE'">LIST_PRICE</a></li>
                <li role="menuitem"><a ng-click="newPricing.pricingType='COST_PRICE'">COST_PRICE</a></li>
                <li role="menuitem"><a ng-click="newPricing.pricingType='MINIMUM_PRICE'">MINIMUM_PRICE</a></li>
                <li role="menuitem"><a ng-click="newPricing.pricingType='MAXIMUM_PRICE'">MAXIMUM_PRICE</a></li>
                <li role="menuitem"><a ng-click="newPricing.pricingType='PROMO_PRICE'">PROMO_PRICE</a>
                </li>
                
                <li role="menuitem"><a ng-click="newPricing.pricingType='COMPETITIVE_PRICE'">COMPETITIVE_PRICE
                    </a></li>
                <li role="menuitem"><a ng-click="newPricing.pricingType='WHOLESALE_PRICE'">WHOLESALE_PRICE
                    </a></li>
                <li role="menuitem"><a ng-click="newPricing.pricingType='SPECIAL_PROMO_PRICE'">SPECIAL_PROMO_PRICE
                    </a></li>
                <li role="menuitem"><a ng-click="newPricing.pricingType='BOX_PRICE'">BOX_PRICE</a></li>
                <li role="menuitem"><a ng-click="newPricing.pricingType='MINIMUM_ORDER_PRICE'">
                    MINIMUM_ORDER_PRICE</a></li>
                
            </ul>
        </div>
    </div>
                </div>
                <div class="row topMargin15px">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2">Currency Code :</div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" 
                               ng-model="newPricing.money.currency.currencyCode" 
                                        placeholder="Enter currency code">
                    </div>
                </div>
                <div class="row topMargin15px">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2">Amount :</div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" 
                               ng-model="newPricing.money.amount" 
                                        placeholder="Enter amount">
                    </div>
                </div>
                
                <div class="row topMargin15px">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2">From Date :</div>
                    <div class="col-sm-3">
                        <p class="input-group">
                          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" 
                                 ng-model="newPricing.pricingFromDate"  
                                 is-open="status.openedFrom"  max-date="maxDate" 
                                 datepicker-options="dateOptions" 
                                 date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openFromDate($event)">
                                <i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </p>
                    </div>
                </div>
                <div class="row topMargin15px">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2">To Date :</div>
                    <div class="col-sm-3">
                        <p class="input-group">
                          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" 
                                 ng-model="newPricing.pricingToDate"  
                                 is-open="status.opened" min-date="minDate" max-date="maxDate" 
                                 datepicker-options="dateOptions" 
                                 date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)">
                                <i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </p>
                    </div>
                </div>
                

<div class="row topMargin50px">
    
    <div class="col-sm-3">
    <button type="button" class="btn headerBtn width180px hzCenter"  
                ng-click="addPricing()">Create</button>
    </div>
    <div class="col-sm-3">
        <button type="button" class="btn btn-primary  
        width180px hzCenter"  
                ng-click="goBack()"> Go Back</button>
    </div>
</div>


<toaster-container toaster-options="{'position-class': 'toast-bottom-right'}"></toaster-container>