<div class="container" ng-controller="userProfile">
    <div class="row" ng-if="user !== null">
        <!-- left column -->
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{user.firstName}}'s Profile</h3>
            </div>
            <div class="panel-body">
                <div ng-include=" './views/profileTabs.html' "></div>
                <!-- edit form column -->
                <div class="col-md-9 personal-info">
                    <div class="alert alert-info alert-dismissable" ng-if="success == true">
                        <a class="panel-close close" data-dismiss="alert">×</a>
                        <i class="fa fa-coffee"></i>
                        user updated success fully
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6">
                            <h3>Address for shipping</h3>
                            <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <div class="col-md-8">
                                    <input class="form-control" type="hidden" ng-model="user._id">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-sm-3 control-label">addressName:</label>

                                <div class="col-md-8">
                                    <input class="form-control" type="text" ng-model="user.shippingAddress[0].addressName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">firstName:</label>

                                <div class="col-md-8">
                                    <input class="form-control" type="text" ng-model="user.shippingAddress[0].firstName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">middleName:</label>

                                <div class="col-md-8">
                                    <input class="form-control" type="text" ng-model="user.shippingAddress[0].middleName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">lastName:</label>

                                <div class="col-md-8">
                                    <input class="form-control" type="text" ng-model="user.shippingAddress[0].lastName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">street1:</label>

                                <div class="col-md-8">
                                    <input class="form-control" type="text" ng-model="user.shippingAddress[0].street1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">street1:</label>

                                <div class="col-md-8">
                                    <input class="form-control" type="text" ng-model="user.shippingAddress[0].street1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">street2:</label>

                                <div class="col-md-8">
                                    <input class="form-control" type="text" ng-model="user.shippingAddress[0].street2">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">city:</label>

                                <div class="col-md-8">
                                    <input class="form-control" type="text" ng-model="user.shippingAddress[0].city">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">state:</label>

                                <div class="col-md-8">
                                    <input class="form-control" type="text" ng-model="user.shippingAddress[0].state">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">country:</label>

                                <div class="col-md-8">
                                    <input class="form-control" type="text" ng-model="user.shippingAddress[0].country">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">zipCode:</label>

                                <div class="col-md-8">
                                    <input class="form-control" type="text" ng-model="user.shippingAddress[0].zipCode">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">addressType:</label>

                                <div class="col-md-8">
                                    <select class="form-control" title="chose address type" name="selectType"
                                            ng-model="user.shippingAddress[0].addressType">
                                        <option value="Billing">Billing</option>
                                        <option value="Shipping">Shipping</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">shipping and billing same:</label>

                                <div class="col-md-8">
                                    <input class="form-control" type="checkbox" ng-model="isAddressSame">
                                </div>
                            </div>
                        </form>
                        </div>

                        <div class="col-md-6 col-lg-6 col-sm-6 personal-info" ng-if="!isAddressSame">
                            <div class="alert alert-info alert-dismissable" ng-if="success == true">
                                <a class="panel-close close" data-dismiss="alert">×</a>
                                <i class="fa fa-coffee"></i>
                                user updated success fully
                            </div>
                            <h3>Address for billing</h3>

                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <div class="col-md-8">
                                        <input class="form-control" type="hidden" ng-model="user._id">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">addressName:</label>

                                    <div class="col-md-8">
                                        <input class="form-control" type="text" ng-model="user.shippingAddress[0].addressName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">firstName:</label>

                                    <div class="col-md-8">
                                        <input class="form-control" type="text" ng-model="user.shippingAddress[0].firstName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">middleName:</label>

                                    <div class="col-md-8">
                                        <input class="form-control" type="text" ng-model="user.shippingAddress[0].middleName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">lastName:</label>

                                    <div class="col-md-8">
                                        <input class="form-control" type="text" ng-model="user.shippingAddress[0].lastName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">street1:</label>

                                    <div class="col-md-8">
                                        <input class="form-control" type="text" ng-model="user.shippingAddress[0].street1">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">street1:</label>

                                    <div class="col-md-8">
                                        <input class="form-control" type="text" ng-model="user.shippingAddress[0].street1">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">street2:</label>

                                    <div class="col-md-8">
                                        <input class="form-control" type="text" ng-model="user.shippingAddress[0].street2">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">city:</label>

                                    <div class="col-md-8">
                                        <input class="form-control" type="text" ng-model="user.shippingAddress[0].city">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">state:</label>

                                    <div class="col-md-8">
                                        <input class="form-control" type="text" ng-model="user.shippingAddress[0].state">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">country:</label>

                                    <div class="col-md-8">
                                        <input class="form-control" type="text" ng-model="user.shippingAddress[0].country">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">zipCode:</label>

                                    <div class="col-md-8">
                                        <input class="form-control" type="text" ng-model="user.shippingAddress[0].zipCode">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">addressType:</label>

                                    <div class="col-md-8">
                                        <select class="form-control" title="chose address type"
                                                ng-model="user.shippingAddress[0].addressType">
                                            <option>Billing</option>
                                            <option>Shipping</option>
                                        </select>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>

                </div>



            </div>
            <div class="row " >
                <div class="form-group">
                    <div class="col-md-4 col-sm-6 col-centered">
                        <a class="continue" ng-click="addAddress(user)">Add Address</a>
                    </div>
                    <div class="col-md-4 col-sm-6 col-centered">
                        <a href="/profile" class="continue">cancel</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="jumbotron" ng-if="user == null">
        <h3>Please Login to add address</h3>
        <a class="continue" href="/login">Login</a>
    </div>
</div>

