<div class="container" ng-controller="cartCtrl">
<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Billing Address</legend>

        <!-- Text input-->
        <form>
            <div class="form-group">
                <label for="addressname">Home Address</label>
                <input type="text" class="form-control" id="addressName" placeholder="addressName" ng-model="address.addressName">
            </div>

            <div class="form-group">
                <label for="street1">street1</label>
                <input type="text" class="form-control" id="street1" placeholder="Street1" ng-model="address.street1">
            </div>
            <div class="form-group">
                <label for="street2">street2</label>
                <input type="text" class="form-control" id="street2" placeholder="Street2" ng-model="address.street2">
            </div>
            <div class="form-group">
                <label for="city">city</label>
                <input type="text" class="form-control" id="city" placeholder="city" ng-model="address.city">
            </div>
            <div class="form-group">
                <label for="state">state</label>
                <input type="text" class="form-control" id="state" placeholder="state" ng-model="address.state">
            </div>
            <div class="form-group">
                <label for="country">country</label>
                <input type="text" class="form-control" id="country" placeholder="country" ng-model="address.country">
            </div>
            <div class="form-group">
                <label for="zip">zipCode</label>
                <input type="text" class="form-control" id="zip" placeholder="zipCode" ng-model="address.zipCode">
            </div>
            <div class="form-group">

                <input type="hidden" class="form-control" id="addresType" placeholder="addressType" ng-model="address.addressType" >
            </div>

            <a id="button1id" name="button1id" class="continue" ng-click="updateAddress()">Select Payment method</a>
        </form>
    </fieldset>
</form>
</div>