<div class="container" ng-controller="cartCtrl">
    <div class="check" ng-if="cartItemCount>0">
        <div class="col-md-9 cart-items">
            <h1>My Shopping Bag ({{cartItemCount}})</h1>

            <div class="cart-header" ng-repeat="item in cartItem.lineItems track by $index">
                <div class="close1" ng-click="removeProduct(item.productId)"><i class="fa fa-times"></i></div>
                <div class="cart-sec simpleCart_shelfItem">
                    <div class="cart-item cyc">
                        <img src="./images/{{item.productSKU}}.jpeg" class="img-responsive" alt=""/>
                    </div>
                    <div class="cart-item-info">
                        <h3><a href="/product/{{item.productId}}">{{item.productName}}</a><span>{{item.productSKU}}</span></h3>
                        <ul class="qty">
                            <li><p>Size : 5</p></li>
                            <li><p>Qty : {{item.quantity}}</p></li>
                            <li>
                                <input type="number" class="col-xs-2" id="exampleInputAmount"
                                       placeholder="{{item.quantity}}" ng-model="qty">
                                <a type="submit" class="span2 update"
                                   ng-click="updateQty(item.productId,qty)">update</a>
                            </li>
                            <li>

                            </li>


                        </ul>
                        <div class="delivery">
                            <p>Price : {{item.itemGrossPrice.amount}} {{item.itemGrossPrice.currency.currencyCode}}</p>
                            <span>Delivered in 2-3 business days</span>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>
            </div>

        </div>
        <div class="col-md-3 cart-total">
            <a class="continue" href="/">Continue Shopping</a>

            <div class="price-details">
                <h3>Price Details</h3>
                <span>Total</span>
                <span class="total1">{{cartItem.total.amount}}</span>
                <span>Discount</span>
                <span class="total1">---</span>
                <span>Delivery Charges</span>
                <span class="total1">0.00</span>

                <div class="clearfix"></div>
            </div>
            <ul class="total_price">
                <li class="last_price"><h4>TOTAL</h4></li>
                <li class="last_price"><span>{{cartItem.total.amount}}</span></li>
                <div class="clearfix"></div>
            </ul>


            <div class="clearfix"></div>
            <a class="order animated fadeInUp" href="/address">Place Order</a>
            <!-- <div class="total-item">
                 <h3>OPTIONS</h3>
                 <h4>COUPONS</h4>
                 <a class="cpns" href="#">Apply Coupons</a>
                 <p><a href="#">Log In</a> to use accounts - linked coupons</p>
             </div>-->
        </div>
    </div>
    <div class="jumbotron" ng-if="cartItemCount<=0">
        <h3>No Items in Your cart</h3>
        <a class="continue" href="/">Continue Shopping</a>
    </div>
</div>