<div class="container" ng-controller="userProfile">
    <div class="row" ng-if="user !== null">
        <!-- left column -->

        <!-- edit form column -->
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{user.firstName}}'s Profile</h3>
            </div>
            <div class="panel-body">
                <div ng-include=" './views/profileTabs.html' "></div>
                <div class="col-md-9 personal-info">
                    <div class="alert alert-info alert-dismissable" ng-if="success == true">
                        <a class="panel-close close" data-dismiss="alert">×</a>
                        <i class="fa fa-coffee"></i>
                        user updated success fully
                    </div>
                    <h3>Change Password</h3>

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-md-8">
                                <input class="form-control" type="hidden" ng-model="user._id">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Username:</label>

                            <div class="col-md-8">
                                <input class="form-control" type="text" ng-model="user.userCredentials.userName">
                                <input class="form-control" type="hidden" ng-model="user.userCredentials.email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Password:</label>

                            <div class="col-md-8">
                                <input class="form-control" type="password" ng-model="user.password1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Confirm password:</label>

                            <div class="col-md-8">
                                <input class="form-control" type="password" ng-model="user.password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>

                            <div class="col-md-8">
                                <a class="continue" ng-click="changePassword(user)">Change Password</a>
                                <span></span>
                                <a href="/profile" class="continue">cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="jumbotron" ng-if="user == null">
        <h3>Please Login to change you password</h3>
        <a class="continue" href="/login">Login</a>
    </div>
</div>



<!--

<div class="form-group">
    <label class="col-md-3 control-label">Username:</label>
    <div class="col-md-8">
        <input class="form-control" type="text" ng-model="user.userCredentials.userName">
    </div>
</div>
<div class="form-group">
    <label class="col-md-3 control-label">Password:</label>
    <div class="col-md-8">
        <input class="form-control" type="password" ng-model="user.userCredentials.password">
    </div>
</div>
<div class="form-group">
    <label class="col-md-3 control-label">Confirm password:</label>
    <div class="col-md-8">
        <input class="form-control" type="password" ng-model="user.userCredentials.password">
    </div>
</div>
<div class="form-group">
    <label class="col-md-3 control-label"></label>
    <div class="col-md-8">
        <a class="continue">Save</a>
        <span></span>
        <a href="/profile" class="continue">cancel</a>
    </div>
</div>-->
