<div class="container " ng-controller="userProfile">
    <div class="row" ng-if="user !== null">
        <!-- left column -->
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{user.firstName}}'s Profile</h3>
            </div>
            <div class="panel-body">
                <div ng-include=" './views/profileTabs.html' "></div>
                <!-- <div class="col-md-3">
                     <div class="text-center">
                         <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
                         <h6>Upload a different photo...</h6>

                         <input type="file" class="form-control">
                     </div>
                 </div>-->

                <!-- edit form column -->
                <div class="col-md-9 col-lg-9 personal-info">
                    <div class="alert alert-info alert-dismissable" ng-if="success == true">
                        <a class="panel-close close" data-dismiss="alert">×</a>
                        <i class="fa fa-coffee"></i>
                        user updated success fully
                    </div>
                    <h3>Edit Profile info</h3>

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-md-8">
                                <input class="form-control" type="hidden" ng-model="user.id">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">First name:</label>

                            <div class="col-lg-8">
                                <input class="form-control" type="text" ng-model="user.firstName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Last name:</label>

                            <div class="col-lg-8">
                                <input class="form-control" type="text" ng-model="user.lastName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Company:</label>

                            <div class="col-lg-8">
                                <input class="form-control" type="text" ng-model="user.company">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Email:</label>

                            <div class="col-lg-8">
                                <input class="form-control" type="text" ng-model="user.userCredentials.email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-8">
                                <input class="form-control" type="hidden" ng-model="user.userCredentials.userName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>

                            <div class="col-md-8">
                                <a class="continue" ng-click="updateProfile(user)">update</a>
                                <span></span>
                                <a href="/profile" class="continue">cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="jumbotron" ng-if="user == null">
                <h3>Please Login to update the profile </h3>
                <a class="continue" href="/login">Login</a>
            </div>
        </div>
        <hr>
    </div>
    <div class="jumbotron" ng-if="user == null">
        <h3>Please Login to edit profile</h3>
        <a class="continue" href="/login">Login</a>
    </div>
</div>