<header id="header" ng-controller="catalogCtrl" ng-cloak=""><!--header-->
    <div class="header_top"><!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4 col-xs-12">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <!--<li><a href=""><i class="fa fa-phone"></i> +918686254093</a></li>-->
                            <li><a href=""><i class="fa fa-envelope"></i> info@rokitKart.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-8 col-lg-8 col-md-8 col-xs-12">
                    <div class="shop-menu ">
                        <ul class="nav navbar-nav pull-right">
                            <li><a href="/cart"><i class="fa fa-crosshairs"></i> Checkout</a></li>
                            <li><a href="/cart" class="active"><i class="fa fa-shopping-cart"></i>
                                Cart({{cartItemCount}})</a></li>

                            <!--cart item to nbe shown here-->
                            <li ng-if="globals.currentUser == null"><a href="/login"><i class="fa fa-lock"></i> Login
                            </a></li>
                            <li ng-if="globals.currentUser != null"><a href="/logout"><i class="fa fa-lock"></i>
                                {{globals.currentUser.username}} </a>
                                <ul class="dropdown">
                                    <li><a href="/profile">Profile</a></li>
                                    <li><a ng-click="logout()">Logout</a></li>
                                </ul>
                            </li>
                            <li ng-if="globals.currentUser == null"><a href="/signup"><i
                                    class="fa fa-lock"></i>Signup</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header_top-->

    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="/"><img src="../images/logo.png" alt="" /></a>
                    </div>
                </div>


                <div class="pull-right col-sm-8 col-xs-12 col-lg-8" ng-controller='searchCtrl'>
                    <form class="row"  layout="column" style="
                            margin-top: 12px" ng-submit="doSearch()">
                        <div class="col-sm-6 col-xs-12 ">
                            <input type="text" placeholder="Search for items" class="input-group"
                                   style="    width: 100%;
    height: 33px;
    border: 1px solid black;
    padding: 15px;" ng-keydown="checkKeyDown($event)" ng-keyup="checkKeyUp($event)" ng-model="searchText"
                                   ng-change="search()"/>

                            <ul class="suggestions-list">
                                <li ng-repeat="suggestion in suggestions track by $index"
                                    ng-class="{active : selectedIndex === $index}" ng-click="AssignValueAndHide($index)">
                                    {{suggestion}}
                                </li>
                            </ul>
                        </div>


                        <div class="col-sm-6 col-xs-12">
                            <button type="submit" style="background-color: lightblue ;border-radius: 0px;
    width: 100%;" class="btn btn-default" onclick="">Search
                            </button>

                        </div>
                    </form>

                </div>


            </div>
        </div>
    </div><!--/header-middle-->
    <div ng-show="catalogVisible">
        <catalog-item></catalog-item>
    </div>

</header><!--/header-->
