<div class="container">
    <div ng-controller="sliderCtrl" id="slides_control">
        <div style="height: 305px">
            <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
                <uib-slide ng-repeat="slide in slides" active="slide.active">
                    <img ng-src="{{slide.image}}" style="margin:auto; height: 300px">
                    <div class="carousel-caption">
                        <!--<h4>Slide {{$index}}</h4>-->
                        <p>{{slide.title}}</p>
                    </div>
                </uib-slide>
            </uib-carousel>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">List Of Items  available</div>
        <div class="panel-body" ng-controller="productsCtrl">
            <div class="row"  >
                <div class="col-xs-12 col-md-3 col-sm-4 col-lg-3" ng-repeat="product in products track by $index" >
                    <item-container></item-container>

                </div>

            </div>
        </div>
    </div>

    <!--    <div class="panel panel-default">
            <div class="panel-heading">Baby Products</div>
            <div class="panel-body">
                <div class="row" ng-controller="productsCtrl">
                    <div class="col-xs-12 col-md-3 col-sm-4 col-lg-3" ng-repeat="product in products track by $index">
                        <item-container></item-container>

                    </div>

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Mens Wear</div>
            <div class="panel-body">
                <div class="row" ng-controller="productsCtrl">
                    <div class="col-xs-12 col-md-3 col-sm-4 col-lg-3" ng-repeat="product in products track by $index">
                        <item-container></item-container>
                    </div>

                </div>
            </div>
        </div>-->
</div>