<div ng-controller="loginCtrl" class="container">
    <!--<modal title="Login" visible="showModal">-->
       <!-- <div id="exTab1">
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="#userLogin" onclick="return false;" data-toggle="tab">Login</a>
                </li>
                <li><a href="#userSignup" onclick="return false;" data-toggle="tab">SignUp</a>
                </li>

            </ul>

            <div class="tab-content clearfix">
                <div class="tab-pane " role="tabpanel" id="userSignup">
                    <form role="form" ng-submit="completeSignUp()">
                        <div class="form-group">
                            <label for="fName">First Name</label>
                            <input type="text" class="form-control" id="fName" ng-model="user.fName" placeholder="Enter first name" required/>
                            <span ng-show="form.fName.$dirty && form.fName.$error.required" class="help-block">first Name is required</span>
                        </div>
                        <div class="form-group">
                            <label for="lName">Last Name</label>
                            <input type="text" class="form-control" id="lName" ng-model="user.lName" placeholder="Enter last Name" required/>
                            <span ng-show="form.lName.$dirty && form.lName.$error.required" class="help-block">lName is required</span>
                        </div>
                        <div class="form-group">
                            <label for="cName">Company Name</label>
                            <input type="text" class="form-control" id="cName" ng-model="user.cName" placeholder="Enter Company" required/>
                            <span ng-show="form.cName.$dirty && form.cName.$error.required" class="help-block">cName is required</span>
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" ng-model="user.email" placeholder="Enter email" required/>
                            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">email is required</span>
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone Number</label>
                            <input type="number" class="form-control" id="phone" ng-model="user.phone" placeholder="Enter Phone" required/>
                            <span ng-show="form.phone.$dirty && form.phone.$error.required" class="help-block">phone is required</span>
                        </div>
                        <div class="form-group">
                            <label for="password">userId</label>
                            <input type="userId" class="form-control" id="password" ng-model="user.userId" placeholder="userId" required/>
                            <span ng-show="form.userId.$dirty && form.userId.$error.required" class="help-block">userId is required</span>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" ng-model="user.password" placeholder="Password" required/>
                            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">first password is required</span>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>-->
               <!-- <div class="tab-pane active" role="tabpanel" id="userLogin">-->
    <div class="row">
        <div class="col-xs-12 col-md-8 col-lg-6 col-sm-8 ">
                    <form role="form" name="loginForm" ng-submit="login()" novalidate>
                        <div class="form-group" ng-class="{ 'has-error' : loginForm.username.$invalid && !loginForm.username.$pristine }">
                            <label for="username">user Name</label>
                            <input type="text" class="form-control" id="username" ng-model="user.username" name="username" placeholder="Enter user name" required/>
                            <span style="color:red" ng-show="loginForm.username.$dirty && loginForm.username.$invalid"></span>
                            <span ng-show="loginForm.username.$error.required" class="help-block">userId is required</span>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" ng-model="user.password" placeholder="Password" required/>
                            <span ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="help-block">password is required</span>
                        </div>
                        <button type="submit" class="btn btn-large ">Login</button>
                    </form>
            </div>
        </div>
                <!--</div>-->
<!--
            </div>
        </div>-->
  <!--  </modal>-->
</div>
