<div class="container " ng-controller="userProfile">
    <div class="row" ng-if="user != null">
        <!-- left column -->
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{user.firstName}}'s Profile</h3>
            </div>
            <div class="panel-body">
                <div ng-include=" './views/profileTabs.html' "></div>
                <!-- <div class="col-md-3">
                     <div class="text-center">
                         <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
                         <h6>Upload a different photo...</h6>

                         <input type="file" class="form-control">
                     </div>
                 </div>-->

                <!-- edit form column -->
                <div class="col-md-9 col-lg-9 personal-info">
                    <div class="row" ng-if="orders.length>0">

                        <div class="col-sm-6" ng-repeat="order in orders">
                            <div class="card">
                                <div class="card-block">
                                    <h4 class="card-title">{{order.orderNumber}}<span class="pull-right">{{order.status}}</span></h4>
                                    <h6 class="card-subtitle text-muted">{{order.linetems[0].productName}} - qty:{{order.linetems[0].quantity}}<span class="pull-right">Amount -{{order.paymentInformation.payment.amount}}</span></h6>
                                </div>
                                <div class="card-block">
                                    <p class="card-text"></p>
                                   <!-- <a href="#" class="continue">Cancel Order</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="jumbotron" ng-if="orders.length==0">
                        <h3>No orders found</h3>
                        <a class="continue" href="/profile">Go Back</a>
                    </div>
                </div>
            </div>

        </div>
        <hr>
    </div>
    <div class="jumbotron" ng-if="user == null">
        <h3>Please Login to see orders detail</h3>
        <a class="continue" href="/login">Login</a>
    </div>
</div>