<div ng-controller="paymentCtrl" style="height: 400px">
    <div class="payment-box">
        <uib-tabset vertical="true" type="pills">
            <uib-tab heading="PayU Money">
                <div ng-include="'./views/payu.html'">
                </div>
            </uib-tab>
            <uib-tab heading="COD">
                <div style="text-align:center;margin-top: 10%">
                    <button type="button"class="btn btn-lg btn-info" ng-click="">Place Order</button>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>

    <!-- <div class="col-xs-3"> 
      <ul class="nav nav-tabs tabs-left">
        <li class="active"><a href="#payu" data-toggle="tab">PayU</a></li>
        <li><a href="#cod" data-toggle="tab">COD</a></li>
        </ul>
    </div>
    <div class="col-xs-9">
        <div class="tab-content">
          <div class="tab-pane active" id="payu">
              <div ng-include="'./views/payu.html'">
              </div>
          </div>
          <div class="tab-pane" id="cod">Cash On Delivery</div>
        </div>
    </div> -->
</div>