<div style="text-align:center;margin-top: 10%">
    <button type="button" class="btn btn-lg btn-info" ng-click="onPlaceOrder()">Place Order</button>
</div>
<!-- <form name="paymentForm" novalidate >
    <label for="firstName">First name:</label>
    <input id="firstName" type="text" name="firstName" ng-model="payment.data.firstname" required /><br />
    <label for="amount">Amount:</label>
    <input id="amount" type="text" name="amount" ng-model="payment.data.amount" required /><br />
    <label for="email">Email:</label>
    <input id="email" type="text" name="email" ng-model="payment.data.email" required /><br />
    <label for="phone">Phone:</label>
    <input id="phone" type="text" name="phone" ng-model="payment.data.phone" required /><br />
    <label for="productinfo">Product Info:</label>
    <input id="productinfo" type="text" name="productinfo" ng-model="payment.data.productInfo" required /><br />
    <br />
    <button type="submit"
            ng-click="submitData(payment)"
            ng-disabled="paymentForm.$invalid">Submit</button>
</form> -->

<!-- <strong><label for="submitDebugText" >Following information will be sent to payumoney, click send!</label></strong><br />
<h4>ajaxSubmitResult.formDataajaxSubmitResult</h4> -->

<form method="post" name="payuForm"  action>
    <input type="hidden" name="key" ng-value="ajaxSubmitResult.formData.key">
    <input type="hidden" name="hash" ng-value="ajaxSubmitResult.formData.hash"/>
    <input type="hidden" name="txnid" ng-value="ajaxSubmitResult.formData.txnid" />
    <input type="hidden" name="service_provider" ng-value="ajaxSubmitResult.formData.service_provider" />
    <input type="hidden" name="amount" ng-value="ajaxSubmitResult.formData.amount" />
    <input type="hidden" name="firstname" ng-value="ajaxSubmitResult.formData.firstname" />
    <input type="hidden" name="email" ng-value="ajaxSubmitResult.formData.email" />
    <input type="hidden" name="productinfo" ng-value="ajaxSubmitResult.formData.productinfo" />
    <input type="hidden" name="surl" ng-value="ajaxSubmitResult.formData.surl" />
    <input type="hidden" name="furl" ng-value="ajaxSubmitResult.formData.furl" />
    <input type="hidden" name="lastname" ng-value="ajaxSubmitResult.formData.lastname" />
    <input type="hidden" name="address1" ng-value="ajaxSubmitResult.formData.address1" />
    <input type="hidden" name="address2" ng-value="ajaxSubmitResult.formData.address2" />
    <input type="hidden" name="city" ng-value="ajaxSubmitResult.formData.city" />
    <input type="hidden" name="state" ng-value="ajaxSubmitResult.formData.state" />
    <input type="hidden" name="country" ng-value="ajaxSubmitResult.formData.country" />
    <input type="hidden" name="zipcode" ng-value="ajaxSubmitResult.formData.zipcode" />
    <input type="hidden" name="udf1" ng-value="ajaxSubmitResult.formData.udf1" />
    <input type="hidden" name="udf2" ng-value="ajaxSubmitResult.formData.udf2" />
    <input type="hidden" name="udf3" ng-value="ajaxSubmitResult.formData.udf3" />
    <input type="hidden" name="udf4" ng-value="ajaxSubmitResult.formData.udf4" />
    <input type="hidden" name="udf5" ng-value="ajaxSubmitResult.formData.udf5" />
    <input type="hidden" name="pg" ng-value="ajaxSubmitResult.formData.pg" />
    <input type="hidden" ng-hide="true" name="btmSubmit" value="Send!">
</form>