<div class="col-md-3 col-lg-3 " align="center">
   <!-- <img alt="User Pic" src="../images/noPhoto-icon.png" class="img-polaroid img-responsive">-->
    <a href="/profile" class="continue">My Profile</a>
    <a href="/editProfile" class="continue">Edit Profile</a>
    <a href="/changePassword" class="continue">Change Password</a>
    <a href="/addAddress" class="continue" >add address</a>
    <a href="/orders" class="continue" >Orders</a>
</div>