   <div class="panel panel-default">
        <div class="panel-heading">List Of Items  available</div>
        <div class="panel-body" ng-controller="productsCtrl">
            <div class="row"  >
                <div class="col-xs-12 col-md-3 col-sm-4 col-lg-3" ng-repeat="product in products track by $index" >
                    <item-container></item-container>

                </div>

            </div>
        </div>
    </div>