<div ng-controller="signUpCtrl" class="container">
<!--    <modal title="SignUp" visible="showModal">-->
      <!--  <div id="exTab1">
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="#userLogin" onclick="return false;" data-toggle="tab">Login</a>
                </li>
                <li><a href="#userSignup" onclick="return false;" data-toggle="tab">SignUp</a>
                </li>

            </ul>

            <div class="tab-content clearfix">-->
                <!--<div class="tab-pane active " role="tabpanel" id="userSignup">-->
                    <div class="row">
                        <div class="col-xs-12 col-md-8 col-lg-6 col-sm-6 ">
                            <form role="form" name="signupForm" ng-submit="completeSignUp()" novalidate>
                                <div class="form-group">
                                    <label for="fName">First Name</label>
                                    <input type="text" class="form-control" id="fName" ng-model="user.fName" placeholder="Enter first name" required/>
                                    <span ng-show="signupForm.fName.$pristine && signupForm.fName.$error.required" class="help-block">first Name is required</span>
                                </div>
                                <div class="form-group">
                                    <label for="lName">Last Name</label>
                                    <input type="text" class="form-control" id="lName" ng-model="user.lName" placeholder="Enter last Name" required/>
                                    <span ng-show="signupForm.lName.$pristine && signupForm.lName.$error.required" class="help-block">lName is required</span>
                                </div>
                                <div class="form-group">
                                    <label for="cName">Company Name</label>
                                    <input type="text" class="form-control" id="cName" ng-model="user.cName" placeholder="Enter Company" required/>
                                    <span ng-show="signupForm.cName.$pristine && signupForm.cName.$error.required" class="help-block">cName is required</span>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input type="email" class="form-control" id="email" ng-model="user.email" placeholder="Enter email" required/>
                                    <span ng-show="signupForm.email.$pristine && signupForm.email.$error.required" class="help-block">email is required</span>
                                </div>
                                <div class="form-group">
                                    <label for="phone">Phone Number</label>
                                    <input type="number" class="form-control" id="phone" ng-model="user.phone" placeholder="Enter Phone" required/>
                                    <span ng-show="signupForm.phone.$pristine && signupForm.phone.$error.required" class="help-block">phone is required</span>
                                </div>
                                <div class="form-group">
                                    <label for="password">username</label>
                                    <input type="username" class="form-control" id="username" ng-model="user.username" placeholder="username" required/>
                                    <span ng-show="signupForm.username.$pristine && signupForm.username.$error.required" class="help-block">userId is required</span>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" ng-model="user.password" placeholder="Password" required/>
                                    <span ng-show="signupForm.password.$pristine && signupForm.password.$error.required" class="help-block">first password is required</span>
                                </div>
                                <button type="submit" class="btn btn-large">Signup</button>
                            </form>
                        </div>
                    </div>

              <!--  </div>-->
            <!--    <div class="tab-pane active" role="tabpanel" id="userLogin">
                    <form role="form" ng-submit="login()">
                        <div class="form-group">
                            <label for="username">First Name</label>
                            <input type="text" class="form-control" id="username" ng-model="user.username" placeholder="Enter first name"/>
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" ng-model="user.password" placeholder="Password"/>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>

            </div>
        </div>-->
 <!--   </modal>-->
</div>
