
<!--content-->
<!---->

<div class="product animated fadeInUp" >
    <div class="container">
        <div class="col-md-9 product-price1">
            <div class="col-md-5 single-top">
                <div class="flexslider">
                    <ul class="slides">
                        <li data-thumb="./images/{{product.productId}}_1.jpeg">
                            <img src="./images/{{product.productId}}_1.jpeg" class="img-thumbnail">
                        </li>
                        <li data-thumb="./images/{{product.productId}}_2.jpeg">
                            <img src="./images/{{product.productId}}_2.jpeg" class="img-thumbnail">
                        </li>
                        <li data-thumb="./images/{{product.productId}}_3.jpeg">
                            <img src="./images/{{product.productId}}_3.jpeg" class="img-thumbnail">
                        </li>
                        <li data-thumb="./images/{{product.productId}}_4.jpeg">
                            <img src="./images/{{product.productId}}_4.jpeg" class="img-thumbnail">
                        </li>
                    </ul>
                </div>

                <script>
                    // Can also be used with $(document).ready()
                    $(document).ready(function() {
                        $('.flexslider').flexslider({
                            animation: "slide",
                            controlNav: "thumbnails"
                        });
                    });
                </script>
            </div>
            <div class="col-md-7 single-top-in simpleCart_shelfItem">
                <div class="single-para ">
                    <h4>{{product.name}}</h4>
                        <div class="clearfix"> </div>

                    <h5 class="item_price">{{product.pricingList[0].money.amount}} {{product.pricingList[0].money.currency.currencyCode}}</h5>
                    <p>{{product.shortDescr}} </p>
                    <div class="available">
                        <ul>
                            <li>Color
                                <select>
                                    <option>Silver</option>
                                    <option>Black</option>
                                    <option>Dark Black</option>
                                    <option>Red</option>
                                </select></li>
                            <li class="size-in">Size<select>
                                <option>Large</option>
                                <option>Medium</option>
                                <option>small</option>
                                <option>Large</option>
                                <option>small</option>
                            </select></li>
                            <div class="clearfix"> </div>
                        </ul>
                    </div>
                    <ul class="tag-men">
                        <li><span>TAG</span>
                            <span class="women1">: Women,</span></li>
                        <li><span>SKU</span>
                            <span class="women1">: CK09</span></li>
                    </ul>'
                    <a href="#" class="continue" ng-style="addCartBtn"  ng-click="addToCart(product._id)">ADD TO CART</a>
                    <a href="#" class="continue">BUY NOW</a>

                </div>
            </div>
            <div class="clearfix"> </div>


            <div ng-cloak>
                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Product Description">
                            <md-content class="md-padding">
                                {{product.shortDescr}}
                            </md-content>
                        </md-tab>
                        <md-tab label="Specification">
                            <md-content class="md-padding">
                                {{product.longDescr}}
                                 </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>

           <!-- <div class=" bottom-product">
                <div class="col-md-4 bottom-cd simpleCart_shelfItem">
                    <div class="product-at ">
                        <a href="#"><img class="img-responsive" src="images/pi3.jpg" alt="">
                            <div class="pro-grid">
                                <span class="buy-in">Buy Now</span>
                            </div>
                        </a>
                    </div>
                    <p class="tun">It is a long established fact that a reader</p>
                    <a href="#" class="item_add"><p class="number item_price"><i> </i>$500.00</p></a>
                </div>
                <div class="col-md-4 bottom-cd simpleCart_shelfItem">
                    <div class="product-at ">
                        <a href="#"><img class="img-responsive" src="images/pi1.jpg" alt="">
                            <div class="pro-grid">
                                <span class="buy-in">Buy Now</span>
                            </div>
                        </a>
                    </div>
                    <p class="tun">It is a long established fact that a reader</p>
                    <a href="#" class="item_add"><p class="number item_price"><i> </i>$500.00</p></a>					</div>
                <div class="col-md-4 bottom-cd simpleCart_shelfItem">
                    <div class="product-at ">
                        <a href="#"><img class="img-responsive" src="images/pi4.jpg" alt="">
                            <div class="pro-grid">
                                <span class="buy-in">Buy Now</span>
                            </div>
                        </a>
                    </div>
                    <p class="tun">It is a long established fact that a reader</p>
                    <a href="#" class="item_add"><p class="number item_price"><i> </i>$500.00</p></a>					</div>
                <div class="clearfix"> </div>
            </div>-->
        </div>

        <div class="clearfix"> </div>
    </div>
</div>
<!--//content-->

