<div class="container" ng-controller="userProfile" ng-cloak >
    <div class="row" ng-if="user !=null">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-12" >


            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{user.firstName}}'s Profile</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div ng-include=" './views/profileTabs.html' "></div>
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                <tr>
                                    <td>FirstName:</td>
                                    <td>{{user.firstName}}</td>
                                </tr>
                                <tr>
                                    <td>LastName:</td>
                                    <td>{{user.lastName}}</td>
                                </tr>
                                <tr>
                                    <td>Joined on:</td>
                                    <td>01/24/1988</td>
                                </tr>

                                <tr>
                                <tr>
                                    <td>Company:</td>
                                    <td>{{user.company}}</td>
                                </tr>
                                <tr>
                                    <td>User Type:</td>
                                    <td>{{user.userType}}</td>
                                </tr>
                                <tr>
                                    <td>Billing Address:</td>
                                    <td>{{user.billingAddress[0].firstName}} {{user.billingAddress[0].lastName}}
                                        {{user.billingAddress[0].middleName}} {{user.billingAddress[0].street1}}
                                        {{user.billingAddress[0].street2}} {{user.billingAddress[0].city}}
                                        {{user.billingAddress[0].state}} {{user.billingAddress[0].country}}
                                        {{user.billingAddress[0].zipCode}}</td>
                                </tr>
                                <tr>
                                    <td>Shipping Address:</td>
                                    <td>{{user.shippingAddress[0].firstName}} {{user.shippingAddress[0].lastName}}
                                        {{user.shippingAddress[0].middleName}} {{user.shippingAddress[0].street1}}
                                        {{user.shippingAddress[0].street2}} {{user.shippingAddress[0].city}}
                                        {{user.shippingAddress[0].state}} {{user.shippingAddress[0].country}}
                                        {{user.shippingAddress[0].zipCode}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Email:</td>
                                    <td><a href="mailto:{{user.userCredentials.email}}">{{user.userCredentials.email}}</a></td>
                                </tr>
                                <td>Phone Number:</td>
                                <td>{{user.phoneNo}}
                                </td>

                                </tr>

                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                  <!--  <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                            <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>-->
                </div>

            </div>
        </div>
    </div>
    <div class="jumbotron" ng-if="user == null">
        <h3>Please Login to see the profile </h3>
        <a class="continue" href="/login">Login</a>
    </div>
</div>
