/*
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);
*/

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  font-weight: 400px;
}
#container{
  min-height: 100%;
  position: relative;
}
body::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#content{
  padding-bottom: 60px;
}
.container .jumbotron, .container-fluid .jumbotron{
  padding: 35px;
}

ul{
  padding: 0;
  list-style: none;
}
ul li{
/*  display: inline-block;
  position: relative;*/
  line-height: 21px;
  text-align: left;
}
ul li a{
  display: block;
  padding: 8px 25px;
  color: #333;
  text-decoration: none;
}
ul li a:hover{
  color: #fff;
  background: #939393;
}
ul li ul.dropdown{
  min-width: 120px; /* Set width of the dropdown */
  background: #f2f2f2;
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
}
ul li:hover ul.dropdown{
  display: block;	/* Display the dropdown */
}
ul li ul.dropdown li{
  display: block;
}
a:hover {
  outline: none;
  text-decoration: none;
}

a:focus {
  outline: none;
  outline-offset: 0;
}
.disabled{
pointer-events: none;
cursor: default;
background-color:grey;
}
a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.update{
  cursor: pointer;
  padding: 3px;
  color: white;
  background: #EF5F21;
}

.update:hover{
  padding: 3px;
  color: white;
  background: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

.btn:hover,
.btn:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggle {
  background-color: #000;
}

a#scrollUp {
  bottom: 0px;
  right: 10px;
  padding: 5px 10px;
  background: #FE980F;
  color: #FFF;
  -webkit-animation: bounce 2s ease infinite;
  animation: bounce 2s ease infinite;
}

a#scrollUp i {
  font-size: 30px;
}


/*************************
*******Header CSS******
**************************/

.header_top {
  background: none repeat scroll 0 0 #F0F0E9;
}

.contactinfo ul li:first-child {
  margin-left: -15px;
}

.contactinfo ul li a {
  font-size: 12px;
  color: #696763;
  font-family: 'Roboto', sans-serif;
}

.contactinfo ul li a:hover {
  background: inherit;
}

.social-icons ul li a {
  border: 0 none;
  border-radius: 0;
  color: #696763;
  padding: 0px;
}

.social-icons ul li {
  display: inline-block;
}

.social-icons ul li a i {
  padding: 11px 15px;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}

.social-icons ul li a i:hover {
  color: #fff;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}

.fa-facebook:hover {
  background: #0083C9;
}

.fa-twitter:hover {
  background: #5BBCEC;
}

.fa-linkedin:hover {
  background: #FF4518;
}

.fa-dribbble:hover {
  background: #90C9DC;
}

.fa-google-plus:hover {
  background: #CE3C2D;
}

.header-middle .container .row {
  border-bottom: 1px solid #f5f5f5;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 20px;
  //padding-top: 20px;
}

.header-middle .container .row .col-sm-4 {
  padding-left: 0;
}

.header-middle .container .row .col-sm-8 {
  padding-right: 0;
}

.usa {
  border-radius: 0;
  color: #B4B1AB;
  font-size: 12px;
  margin-right: 20px;
  padding: 2px 15px;
  margin-top: 10px;
}

.usa:hover {
  background: #FE980F;
  color: #fff;
  border-color: #FE980F;
}

.usa:active,
.usa.active {
  background: none repeat scroll 0 0 #FE980F;
  box-shadow: inherit;
  outline: 0 none;
}

.btn-group.open .dropdown-toggle {
  background: rgba(0, 0, 0, 0);
  box-shadow: none;
}

.dropdown-menu li a:hover,
.dropdown-menu li a:focus {
  background-color: #FE980F;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
.shop-menu{
  width: 100%;
  padding: 10px;
}
.shop-menu ul li {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.shop-menu ul li:last-child {
  padding-right: 0;
}

.shop-menu ul li a {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  padding: 0;
  padding-right: 0;
  margin-top: 10px;
}

.shop-menu ul li a i {
  margin-right: 3px;
}

.shop-menu ul li a:hover {
  color: black;
  background: transparent;
}

.header-bottom {
  padding-bottom: 30px;
  padding-top: 30px;
}

.navbar-collapse.collapse {
  padding-left: 0;
}

.mainmenu ul li {
  padding-right: 15px;
  padding-left: 15px;
}

.mainmenu ul li:first-child {
  padding-left: 0px;
}

.mainmenu ul li a {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 300;
  padding: 0;
  padding-bottom: 10px;
}

.mainmenu ul li a:hover,
.mainmenu ul li a.active,
.shop-menu ul li a.active {
  background: none;
  color: #fdb45e;
}

.search_box input {
  background: #F0F0E9;
  border: medium none;
  color: #B2B2B2;
  font-family: 'roboto';
  font-size: 12px;
  font-weight: 300;
  height: 35px;
  outline: medium none;
  padding-left: 10px;
  width: 155px;
  background-repeat: no-repeat;
  background-position: 130px;
}


/*user profile*/
.col-centered{
  float: none;
  margin: 0 auto;
}
.userProfile{
  border: 1px solid red;
}

.user-row {
  margin-bottom: 14px;
}

.user-row:last-child {
  margin-bottom: 0;
}

.dropdown-user {
  margin: 13px 0;
  padding: 5px;
  height: 100%;
}

.dropdown-user:hover {
  cursor: pointer;
}

.table-user-information > tbody > tr {
  border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
  border-top: 0;
}


.table-user-information > tbody > tr > td {
  border-top: 0;
}
.toppad
{margin-top:20px;
}

.personal-info .card{
    border: 1px solid;
    padding: 16px;
}

/*end user profile*/

/*form control*/
.form-control{
  border-radius: 0px;
}
.form-control:focus{
  border:1px solid orangered ;
}
/*.btn{
  width:100%;
  border-radius: 0px;
  background-color: orangered;
}*/
/*end form control*/
/*  Dropdown menu*/

.navbar-header .navbar-toggle .icon-bar {
  background-color: #fff;
}

.nav.navbar-nav > li:hover > ul.sub-menu {
  display: block;
  -webkit-animation: fadeInUp 400ms;
  -moz-animation: fadeInUp 400ms;
  -ms-animation: fadeInUp 400ms;
  -o-animation: fadeInUp 400ms;
  animation: fadeInUp 400ms;
}
ul.sub-menu>li:hover{
  display: block;
  -webkit-animation: fadeInUp 400ms;
  -moz-animation: fadeInUp 400ms;
  -ms-animation: fadeInUp 400ms;
  -o-animation: fadeInUp 400ms;
  animation: fadeInUp 400ms;
}
ul.sub-menu  {
  position: absolute;
  top: 30px;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  list-style: none;
  padding: 0;
  margin: 0;
  width: 220px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 999;
}

.dropdown ul.sub-menu li .active {
  color: #FDB45E;
  padding-left: 0;
}

.navbar-nav li ul.sub-menu li {
  padding: 0px 15px 0;
}
.navbar-nav li ul.sub-menu li a{
  font-size: 15px;
}
.navbar-nav li ul.sub-menu li:last-child {
  padding-bottom: 5px;

}

.navbar-nav li ul.sub-menu li a {
  color: #fff;
}

.navbar-nav li ul.sub-menu li a:hover {
  color: #FDB45E;
}

.fa-angle-down {
  padding-left: 5px;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/*search box*/
.input{
  width:230px;
  height:30px;
  outline:none;
  padding:0px 10px;
  margin:0px auto;
  display:block;
}
.suggestions-list {
  position: absolute;
  width: inherit;
  margin: 0 0 0 0;
  padding: 0;
  overflow: auto;
  z-index: 1;
}
.suggestions-list li {
  display: list-item;
  color: #000000;
  padding: 10px 10px;
  cursor: pointer;
  background: #f9f9f9;
  border-bottom: 1px solid #eeeeee;
}
.suggestions-list li:hover {
  background: #eeeeee;
}
.suggestions-list li:active,
.suggestions-list li.active {
  color: #FFFFFF;
  background: #0099FF;
  width:234px;
}
.suggestions-list:focus{
  outline:none;
}

/*search box end*/

/**** Slider *****/

.carousel-caption {
  top: 15%;
  left: 70%;
  color: slategrey;
}

.carousel-indicators {
  display: none;
}

/***** end slider*****/

.panel-default > .panel-heading {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.72);
}

/*single product tile*/

.single-product h2 {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.single-product h2 a {
  color: #222;
}

.single-product p {
  color: #5a88ca;
  font-weight: 700;
}

.single-product {
  overflow: hidden;
  padding: 10px;
  height: 400px;
}

.single-product:hover {
}

.single-product:hover .product-hover a.add-to-cart-link {
  top: 32%;
}

.single-product:hover .product-hover a.view-details-link {
  bottom: 32%;
}

.single-product:hover .product-hover:after {
  left: 0
}

.product-f-image {
  float: left;
  height: 250px;
}

.product-f-image img {
  border: none;
  margin: auto;
  display: block;
  height: 250px;
}

.product-hover {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
  border: 1px solid #ddd;
}

.product-hover:after {
  background: none repeat scroll 0 0 #000;
  content: "";
  height: 100%;
  left: -100%;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
  transition: .4s;
}

.product-hover a {
  background: none repeat scroll 0 0 #5a88ca;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 16px;
  left: 10%;
  margin: 0;
  padding: 10px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #5a88ca;
  width: 80%;
  z-index: 99;
  transition: .4s;
}

.product-hover a:hover {
  background: #000;
  text-decoration: none;
  border-color: #444;
}

.product-carousel-price ins {
  color: #5a88ca;
  font-weight: 700;
  margin-right: 5px;
  text-decoration: none;
}

.product-hover a i.fa {
  margin-right: 5px;
}

.product-hover a.add-to-cart-link {
  top: -25%;
}

.product-hover a.view-details-link {
  bottom: -25%;
}

/*end single product tile*/


/*--//product--*/
/*--single--*/
ul.star-footer li{
  display:inline-block;

}
ul.star-footer li i{
  height: 16px;
  width: 16px;
  background: url("../images/img-sprite.png") no-repeat -261px -106px  ;
  display: inline-block;
}
.single-para h4 {
  color: #000;
  font-size: 3em;
  font-family: 'Lato', serif;
}
.single-para p {
  font-size: 1em;
  color: #2c3e50;
  font-family: 'Lato', serif;
  line-height: 1.8em;
  margin: 1em 0;
}
.single-para h5 {
  color: #EF5F21;
  font-size: 2em;
  border-bottom: 1px solid #C4C3C3;
  padding: 0.3em 0;
}

.available ul li{
  list-style:none;
  padding:0 0.5em 0 0;
  color:#4c4c4c;
  font-size:1.1em;
  float:left;
  width:100%;
  font-family: 'Roboto Slab', serif;
  margin: 0.5em 0;
}
.available ul li select {
  outline: none;
  padding: 12px;
  border: none;
  background: #eeeeee;
  width: 77%;
  margin-left: 13%;
  cursor:pointer;
}
.available ul li.size-in select {
  margin-left: 16%;
}
.available {
  padding:  1em 0;
}
ul.tag-men {
  padding:0.3em 0;
  border-top: 1px solid #C4C3C3;
  border-bottom: 1px solid #C4C3C3;
}
ul.tag-men li{
  list-style:none;
  color:#000;
  font-family: 'Lato', serif;
  margin: 0.3em 0;
  font-size:0.9em;
}
ul.tag-men li span.women1{
  margin-left: 9em;
}
a.add-cart {
  text-decoration: none;
  color: #fff;
  background: #EF5F21;
  padding: 0.4em 0.8em;
  font-size:0.9em;
  text-transform: uppercase;
  margin-top: 2em;
  display: inline-block;
}
a.add-cart:hover {
  background:#000;

}
h3.real{
  color: #000;
  border-bottom: 1px solid #000;
  margin: 0 0.5em 1em;
  font-size: 2em;
  font-family: 'Lato', serif;
}
/*----*/
.star-on {
  padding: 1em 0;
}
.star-on ul {
  float:left;
}
.star-on ul li{
  vertical-align: sub;
}

.review{
  float:left;
  padding: 0 1em;
}
.star-on a{
  text-decoration:none;
  font-size:1em;
  color:#000;
}
.star-on a:hover{
  color:#EF5F21;
}
/*----*/
.cd-tabs-navigation {
  width: 100%;
}
.cd-tabs-navigation li {
  display: inline-block;
  list-style:none;
}
.cd-tabs-navigation a {
  position: relative;
  display: block;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:1.1em;
  color:#000;
  background:#eee ;
  padding:10px 16px;
  font-family: 'Lato', serif;
  text-decoration: none;
}

.cd-tabs-navigation a.selected  {
  background:#EF5F21;
  color:#fff;
}

.cd-tabs-content li {
  display: none;
}
.cd-tabs-content li.selected {
  display: block;
  -webkit-animation: cd-fade-in 0.5s;
  -moz-animation: cd-fade-in 0.5s;
  animation: cd-fade-in 0.5s;

}
.cd-tabs.is-ended {
  margin: 3em 0 1em;
  padding: 0 1em;
}
.facts{

  padding: 1em 0;
}
.facts p{
  color:#999;
  font-size:1em;
  line-height:1.7em;
  padding:0 0 1em;
  font-family: 'Lato', serif;
}
.facts ul li{
  list-style:none;
  color:#767676;
  font-size:1em;
  padding:0.3em 0;
}
.color {
  background:#eee;
  margin: 1em 0;
  padding: 1em;
}
.color p,.color span{
  color:#000;
  font-size:1em;
  font-family: 'Lato', serif;
  float: left;

}
.color p{
  width:40%;
}
.top-comment-left{
  float: left;
  width: 13%;
}
.top-comment-right{
  float: left;
  width:84%;
  margin-left:1em;
  background:#f8f8f8;
  padding:2em ;
}
.top-comment-right h6{
  color:#000;
  font-size:0.8em;
  font-family: 'Lato', serif;
}
.top-comment-right p{
  color:#000;
  font-size:1em;
  margin: 1em 0em 0 1em;
}
a.add-re{
  text-decoration: none;
  color: #fff;
  background: #EF5F21;
  padding: 0.4em 0.8em;
  font-size: 0.9em;
  text-transform: uppercase;
  margin-top: 2em;
  display: inline-block;
}
a.add-re:hover{

  background: #000;
}
.top-comment-right h6 a{
  color:#000;
  font-size:1.5em;
  text-decoration:none;
}
.comments-top-top {
  margin: 2em 0;

}
/*--//single--*/


/*cart items*/
/*--checkout--*/
/*--
.cart h3{
	font-size:1.5em;
}
--*/
.cart-sec{
  margin-bottom:3em;
}
.cart-item{
  width:20%;
  float:left;
  margin-right:5%;

}
.cart-item img{
  width:100%;
}
.cart-item-info{
  width:75%;
  float:left;

}
.check{
  padding:4em 0;
}
.cart-item-info h3{
  font-size:1em;
  font-weight:600;
}
.cart-item-info h3 a{
  color:#000;
}
.cart-item-info h3 span{
  display:block;
  font-weight:400;
  font-size: 0.85em;
  margin: 0.7em 0;
}
.size_3 {
  width:100%;
}
.delivery {
  margin-top: 3em;
}
.delivery p {
  color: #A6A6A6;
  font-size: 1em;
  font-weight: 400;
  float: left;
}
.delivery span {
  color: #A6A6A6;
  font-size: 1em;
  font-weight: 400;
  float: right;
}
.cart-item-info h4 span{
  font-size:0.65em;
  font-weight:400;
}

.close1 .close2{
  background: url('../images/close_1.png') no-repeat 0px 0px;
  cursor: pointer;
  width: 28px;
  height: 28px;
  position: absolute;
  right: 0px;
  top: 0px;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.cart-header {
  position: relative;
}
.cart-header2 {
  position: relative;
}
a.order {
  background:#EF5F21;
  padding: 10px 20px;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  display: block;
  font-weight: 600;
  text-align: center;
  margin:3em 0;
}
a.order:hover{
  background:#000;
}
.total-item,.cart-items{
  margin-top:0em;
  padding-bottom:2em;
}

.total-item h3 {
  color: #333;
  font-size: 1.1em;
  margin-bottom: 1em;
}
.total-item h4{
  font-size:0.8em;
  font-weight:600;
  color:#9C9C9C;
  display:inline-block;
  margin-right:6em;
}
a.cpns{
  background:#EF5F21;
  color:#fff;
  font-family: 'Lato', sans-serif;
  padding: 10px;
  font-size: 0.8em;
  font-weight:600;
}
a.cpns:hover{
  background: #000;
}
.total-item p{
  font-size:0.9em;
  font-weight:400;
  margin-top:1em;
}
.total-item p a{
  color:#727272;
}
.total-item p a:hover{
  color:#000;
  text-decoration:underline;
}
a.continue{
  background:#EF5F21;
  padding:10px 20px;
  font-family: 'Lato', sans-serif;
  font-size:1em;
  color:#fff;
  text-decoration:none;
  display: block;
  font-weight: 600;
  text-align: center;
  margin-bottom: .5em;
}
a.continue:hover{
  background:#000;
}
ul.total_price{
  padding: 0;
  margin: 1em 0 0 0;
  list-style: none;
}
ul.total_price li.last_price{
  width: 50%;
  float: left;

}
ul.total_price li.last_price span{
  font-size: 1.1em;
  color: #000;
}
.price-details{
  border-bottom: 1px solid #DDD9D9;
  padding-bottom: 10px;
}
.price-details h3{
  color:#000;
  font-size:1.2em;
  margin-bottom:1em;
}
.price-details span{
  width: 50%;
  float: left;

  font-size: 0.8125em;
  color: #000;
  line-height: 1.8em;
}


.check h1 {
  font-size: 1.5em;
  margin-bottom:2em;
  font-family: 'Lato', sans-serif;
}
a.item_add1 {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-right-radius: 0;

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 10px 15px;
  background: url(0) #f54d56;
}
a.item_add1:hover{
  background:rgb(3, 193, 167);
  text-decoration:none;
  color:#fff;
}
.btn_5{
  padding:25px 40px;
  font-size:1.1em;
}
ul.qty{
  padding:0;
  margin:0;
  list-style:none;
}
ul.qty li{
  display: inline-block;
  margin-right: 10%;
}
ul.qty li p{
  font-size:0.8125em;
  color:#555;
}

/*end cart items*/


/*footer*/
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}
.text-muted{
  margin: 20px 0;
}
/*end footer*/



/*cart-style*/

/*--checkout--*/
.cart h2{
  font-size:1.5em;
  margin-bottom:1em;
}
.cart-items{
  width: 70%;
  margin-right: 5%;
}
.cart-sec{

  margin-bottom:3em;
}
.cart-item{
  width:20%;
  float:left;
  margin-right:5%;

}
.cart-item img{
  width:100%;
}
.cart-item-info{
  width:75%;
  float:left;

}
.check{
  padding:5em 0;
}
.cart-item-info h3{
  font-size:1em;
  font-weight:600;
}
.cart-item-info h3 a{
  color:#000;
}
.cart-item-info h3 span{
  display:block;
  font-weight:400;
  font-size:0.75em;
  margin-top:3px;
}
.size_3 {
  width:100%;
}
.delivery {
  margin-top: 3em;
}
.delivery p {
  color: #A6A6A6;
  font-size: 1em;
  font-weight: 400;
  float: left;
}
.delivery span {
  color: #A6A6A6;
  font-size: 1em;
  font-weight: 400;
  float: right;
}
.cart-item-info h4 span{
  font-size:0.65em;
  font-weight:400;
}
.close1,.close2{
  background: url('../images/close_1.png') no-repeat 0px 0px;
  cursor: pointer;
  width: 28px;
  height: 28px;
  position: absolute;
  right: 0px;
  top: 0px;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.cart-header {
  position: relative;
}
.cart-header2 {
  position: relative;
}
.cart-total {

}

/*end cart-style*/
@media (max-width: 767px) {
  .mainmenu {
    width: 100%;
  }
  .navbar-collapse.in {
    overflow: inherit;
  }
  .mainmenu ul li {
    background: rgba(0, 0, 0, 0.5);
    padding-top: 15px;
    padding-bottom: 0;
  }
  .mainmenu ul li a {
    color: #fff;
  }
  .dropdown .fa-angle-down {
    display: none;
  }
  ul.sub-menu {
    position: relative;
    width: auto;
    display: block;
    background: transparent;
    box-shadow: none;
    top: 0;
  }
  ul.sub-menu ul.subsub {
    position: relative;
    width: auto;
    display: block;
    background: transparent;
    box-shadow: none;
    top: 0;
  }
  .mainmenu .navbar-nav li ul.sub-menu li {
    background: transparent;
    padding-bottom: 0;
  }
  .header-bottom .col-sm-3 {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 38px;
  }
  .header-bottom {
    position: relative;
  }
  .delivery span {
    float: left;
  }
  .delivery p, .delivery span {
    font-size: 0.85em;
  }
  .delivery {
    margin-top: 1em;
  }
}