.margin10px {
  margin: 10px; }

.rightMargin5px {
  margin-right: 5px; }

.rightMargin15px {
  margin-right: 15px; }

.rightMargin10px {
  margin-right: 10px; }

.rightMargin20px {
  margin-right: 20px; }

.rightMargin30px {
  margin-right: 30px; }

.rightMargin35px {
  margin-right: 35px; }

.rightMargin50px {
  margin-right: 50px; }

.rightMargin200px {
  margin-right: 200px; }

.leftMargin0px {
  margin-left: 0px; }

.leftMargin5px {
  margin-left: 5px; }

.leftMargin15px {
  margin-left: 15px; }

.leftMargin20px {
  margin-left: 20px; }

.leftMargin300px {
  margin-left: 300px; }

.leftMargin450px {
  margin-left: 450px; }

.leftMarginMinus4px {
  margin-left: -4px; }

.bottomMarginMinus20px {
  margin-bottom: -20px; }

.bottomMargin10px {
  margin-bottom: 10px; }

.topMargin5px {
  margin-top: 5px; }

.topMargin15px {
  margin-top: 15px; }

.topMargin50px {
  margin-top: 50px; }

.topMarginMinus17px {
  margin-top: -17px; }

.topMarginMinus23px {
  margin-top: -23px; }

.topMarginMinus35px {
  margin-top: -35px; }

.topMarginMinus38px {
  margin-top: -38px; }

.bottomMargin10px {
  margin-bottom: 10px; }

.borderRadius10px {
  border-radius: 10px; }

.borderRadius15px {
  border-radius: 15px; }

.borderRadius20px {
  border-radius: 20px; }

.padding10px {
  padding: 10px; }

.padding5px {
  padding: 5px; }

.border .borderTopWhite {
  border-top-color: #fff !important; }

.rightBorderWhite2px {
  border-right: 2px solid #FFFFFF; }

.borderBottomGrey1px {
  border-bottom: 1px solid #ddd; }

.bottomRadius0px {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important; }

.topRadius0px {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important; }

.mediumFont {
  font-size: medium; }

.largeFont {
  font-size: large; }

.txtLeft {
  text-align: left !important; }

.width50px {
  width: 50px; }

.width65px {
  width: 65px; }

.width70px {
  width: 70px; }

.width94px {
  width: 94px; }

.width100px {
  width: 100px; }

.width120px {
  width: 120px; }

.width150px {
  width: 150px; }

.width170px {
  width: 170px; }

.width180px {
  width: 180px; }

.width200px {
  width: 200px; }

.width230px {
  width: 230px; }

.width400px {
  width: 400px; }

.height40px {
  height: 40px; }

.height50px {
  height: 50px; }

.hzCenter {
  margin: 0 auto; }

.requiredText {
  color: red; }

.successText {
  color: green; }

.modalBg {
  background-color: #dddddd; }

.catalogBg {
  background-color: #eeeeee; }

.boldText {
  font-weight: bold; }

.modal {
  text-align: center;
  padding: 0 !important; }

.inputTypeFile {
  margin-left: -100px;
  z-index: 100;
  opacity: 0; }

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; }

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle; }

.circle5px {
  border-radius: 5px;
  width: 10px;
  height: 10px;
  background-color: black; }

@media screen and (min-width: 769px) {
  body {
    font-family: 'Helvetica Neue'; }
  .kartLogo {
    margin-left: -12px !important;
    font-size: 25px;
    font-weight: bold;
    margin-top: 17px;
    float: left; }
  .lightGreyBg {
    background-color: #bcbcbc; }
  .headerBg {
    background-color: #B0DFFE; }
  .headerBtn {
    background-color: #5F5F5F;
    color: #FFFFFF;
    border: 2px; }
  .headerBtn:hover {
    color: #FFFFFF; }
  .tabMenuBtn {
    width: 25%;
    height: 70px;
    display: table-cell;
    vertical-align: middle;
    border-collapse: collapse;
    border: 1px solid white;
    padding: 0 5px;
    color: #FFFFFF;
    font-weight: bold; }
  .tabMenuBtn:hover {
    font-size: 17px;
    color: #FFFFFF; }
  button.tabMenuBtn,
  button.headerBtn:active {
    outline: none;
    color: #FFFFFF; }
  button.tabMenuBtn,
  button.headerBtn:focus {
    outline: 0;
    color: #FFFFFF; }
  .mainMenuBtn {
    background: #337ab7;
    display: inline-block;
    height: 80px;
    margin-left: 20px;
    position: relative;
    width: 250px;
    color: #FFFFFF;
    margin-top: 50px; }
  .selectedMenuBtn {
    background: #5F5F5F !important; }
  a.mainMenuBtn:hover {
    text-decoration: none;
    font-size: 17px;
    color: #FFFFFF; }
  .mainMenuBtnText {
    width: 250px;
    text-align: center;
    padding-top: 29px;
    font-weight: bold;
    padding-left: 5px; }
  .rightTriangle {
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid #337ab7;
    margin-left: 250px;
    position: absolute; } }

.orgHeader {
  color: #5F5F5F;
  height: 50px;
  font-size: 17px;
  font-weight: bold;
  padding: 14px; }

.orgContainer {
  border: 2px solid #D2D6D6;
  border-radius: 20px;
  background: #D2D6D6; }

.orgListRow {
  background-color: #FFFFFF; }

.customForm > table > thead > tr > th {
  border-top: none !important;
  border-bottom: none !important; }

.customForm > table > tbody > tr > td {
  border-top: none !important; }

.productCategoryHeading {
  background-color: #eeeeee;
  margin-bottom: -1px;
  padding: 10px; }

/* Fix for Bootstrap 3 with Angular UI Bootstrap */
/*.modal { 
	display: block;
}
*/
/* Custom dialog/modal headers */
.dialog-header-error {
  background-color: #d2322d; }

.dialog-header-wait {
  background-color: #428bca; }

.dialog-header-notify {
  background-color: #eeeeee; }

.dialog-header-confirm {
  background-color: #333333; }

.dialog-header-error span, .dialog-header-error h4,
.dialog-header-wait span, .dialog-header-wait h4,
.dialog-header-confirm span, .dialog-header-confirm h4 {
  color: #ffffff; }

/* Ease Display */
.pad {
  padding: 25px; }

.loginBg {
  width: 400px;
  height: 230px;
  background-color: #B0DFFE;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 0 auto;
  position: relative;
  transform: translateY(70%); }

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  color: #FFFFFF;
  background-color: #bcbcbc !important; }

.tabClass {
  cursor: pointer;
  border-radius: 10px;
  height: 40px;
  text-decoration: none;
  padding-left: 10px;
  font-weight: bold; }

.verticalCenterText {
  display: flex;
  align-items: center; }

.tabActive {
  background-color: #bcbcbc;
  color: #FFFFFF; }

.tabInactive {
  color: #337ab7; }

div.tabclass:hover {
  cursor: pointer;
  text-decoration: none; }

.addressHighlight {
  cursor: pointer; }

.deleteAddressBtn {
  position: relative;
  width: 30px;
  height: 15px;
  border-radius: 10px;
  text-align: center; }
