.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    color: $white;
    background-color: $lightGrey !important;
}

.tabClass{
    cursor:pointer;
    border-radius: 10px;
    height: 40px;
    text-decoration: none;
    padding-left: 10px;
    font-weight: bold;
}

.verticalCenterText {
    display:flex;
    align-items:center;
}

.tabActive{
        background-color: #bcbcbc;
        color: $white;
}
.tabInactive{
        color: $darkBlue;
}
div.tabclass:hover{
    cursor:pointer;
    text-decoration: none;
}