$darkGrey: #5F5F5F;
$lightGrey: #bcbcbc;
$skyBlue: #B0DFFE;
$darkBlue:#337ab7;
$white: #FFFFFF;
$menuBtnColor: #009966;
.margin10px {
    margin: 10px;
}

.rightMargin5px {
    margin-right: 5px;
}

.rightMargin15px {
    margin-right: 15px;
}

.rightMargin10px {
    margin-right: 10px;
}

.rightMargin20px {
    margin-right: 20px;
}

.rightMargin30px {
    margin-right: 30px;
}

.rightMargin35px {
    margin-right: 35px;
}

.rightMargin50px {
    margin-right: 50px;
}

.rightMargin200px {
    margin-right: 200px;
}

.leftMargin0px {
    margin-left: 0px;
}

.leftMargin5px {
    margin-left: 5px;
}

.leftMargin15px {
    margin-left: 15px;
}

.leftMargin20px {
    margin-left: 20px;
}

.leftMargin300px {
    margin-left: 300px;
}

.leftMargin450px {
    margin-left: 450px;
}

.leftMarginMinus4px {
    margin-left: -4px;
}

.bottomMarginMinus20px {
    margin-bottom: -20px;
}

.bottomMargin10px {
    margin-bottom: 10px;
}

.topMargin5px {
    margin-top: 5px;
}

.topMargin15px {
    margin-top: 15px;
}

.topMargin50px {
    margin-top: 50px;
}

.topMarginMinus17px {
    margin-top: -17px;
}

.topMarginMinus23px {
    margin-top: -23px;
}

.topMarginMinus35px {
    margin-top: -35px;
}

.topMarginMinus38px {
    margin-top: -38px;
}

.bottomMargin10px {
    margin-bottom: 10px;
}

.borderRadius10px {
    border-radius: 10px;
}

.borderRadius15px {
    border-radius: 15px;
}

.borderRadius20px {
    border-radius: 20px;
}

.padding10px {
    padding: 10px;
}

.padding5px {
    padding: 5px;
}

.border .borderTopWhite {
    border-top-color: #fff !important;
}

.rightBorderWhite2px {
    border-right: 2px solid $white;
}

.borderBottomGrey1px {
    border-bottom: 1px solid #ddd;
}

.bottomRadius0px {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.topRadius0px {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.mediumFont {
    font-size: medium;
}

.largeFont {
    font-size: large;
}

.txtLeft {
    text-align: left !important;
}

.width50px {
    width: 50px;
}

.width65px {
    width: 65px;
}

.width70px {
    width: 70px;
}

.width94px {
    width: 94px;
}

.width100px {
    width: 100px;
}

.width120px {
    width: 120px;
}

.width150px {
    width: 150px;
}

.width170px {
    width: 170px;
}

.width180px {
    width: 180px;
}

.width200px {
    width: 200px;
}

.width230px {
    width: 230px;
}

.width400px {
    width: 400px;
}

.height40px {
    height: 40px;
}

.height50px {
    height: 50px;
}

.hzCenter {
    margin: 0 auto;
}

.requiredText {
    color: red;
}

.successText {
    color: green;
}

.modalBg {
    background-color: #dddddd;
}

.catalogBg {
    background-color: #eeeeee;
}

.boldText {
    font-weight: bold;
}

.modal {
    text-align: center;
    padding: 0!important;
}

.inputTypeFile {
    margin-left: -100px;
    z-index: 100;
    opacity: 0;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

@mixin shapeCircle($radius, $color) {
    border-radius: $radius;
    width: 2*$radius;
    height: 2*$radius;
    background-color: $color;
}

.circle5px {
    @include shapeCircle(5px, black);
}