.loginBg{
    width: 400px;
    height: 230px;
    background-color: $skyBlue;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0 auto;
    position: relative;
    transform: translateY(70%);
}
