.orgHeader{
    color: $darkGrey;
    height: 50px;
    font-size: 17px;
    font-weight: bold;
    padding: 14px;
}

.orgContainer{
    border:2px solid #D2D6D6;
    border-radius: 20px;
    background: #D2D6D6;
}

.orgListRow{
  background-color: $white;
}


